/*********************
MyISL Page
*********************/

#myisl-content {
	//padding-top: rem-calc(30);

	.document {
		margin-bottom: rem-calc(7);
		a {
			font-size: rem-calc(18);
			font-weight: bold;
		}

		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
		  position: absolute;
		  left: -9999px;
		}
		[type="checkbox"]:not(:checked) + a,
		[type="checkbox"]:checked + a {
		  position: relative;
		  padding-left: 25px;
		  cursor: pointer;
		}

		/* checkbox aspect */
		[type="checkbox"]:not(:checked) + a:before,
		[type="checkbox"]:checked + a:before {
		  content: '';
		  position: absolute;
		  left:-8px; top: 2px;
		  width: 17px; height: 17px;
		  border: 1px solid #aaa;
		  background: #f8f8f8;
		  border-radius: 3px;
		  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
		}
		/* checked mark aspect */
		[type="checkbox"]:not(:checked) + a:after,
		[type="checkbox"]:checked + a:after {
		  content: '✔';
		  position: absolute;
		  top: 3px; left: -4px;
		  font-size: 18px;
		  line-height: 0.8;
		  color: #09ad7e;
		  transition: all .2s;
		}
		/* checked mark aspect changes */
		[type="checkbox"]:not(:checked) + a:after {
		  opacity: 0;
		  transform: scale(0);
		}
		[type="checkbox"]:checked + a:after {
		  opacity: 1;
		  transform: scale(1);
		}
	}

	&.fundraising {
		#fundraiser table {
			width: 100%;
			tr > td:first-child {
				width: 165px;
				font-weight: bold;
			}
		}
	}
}


#user {
	padding-top: rem-calc(56);

	div {box-sizing: border-box;}

	// Page banner
	.banner {
		text-align: center;
		height: auto;
		padding: rem-calc(70) 0;
		background-color: $color-isl-ltblue;

		@include breakpoint (large up) {
			padding: rem-calc(100) 0;
		}

		// .entry-header {
		// 	text-align: center;
	
			// .avatar {
			// 	width: rem-calc(80);
			// 	height: rem-calc(80);
			// 	margin: 0;
			// 	border-radius: 50%;
			// 	background-size: cover;
			// 	background-position: center center;
			// 	display: inline-block;

			// 	@include breakpoint (large up) {
			// 		width: rem-calc(120);
			// 		height: rem-calc(120);
			// 	}
			// }

			// h1 {
			// 	margin: 0;
			// 	font-size: rem-calc(18);
			// 	@include breakpoint (medium up) {
			// 		font-size: rem-calc(28);
			// 	}
			// 	@include breakpoint (large up) {
			// 		font-size: rem-calc(48);
			// 	}
			// }
		// }
	}

	// Team Banner
	.team-banner {
		position: relative;
		background: #00a79d;
		color: #ffffff;
		width: 100%;
		// height: rem-calc(80);
		text-align: center;
		padding: rem-calc(15) 0 rem-calc(15);
		z-index: 999;

		@include breakpoint(medium up) {
			padding: rem-calc(55) 0 rem-calc(15);
		}

		h3 {
			font-size: rem-calc(18);
			margin-bottom: 0;
			line-height: 1.4;

			@include breakpoint(large up) {
				font-size: rem-calc(30);
			}

			a {
				color: $white;
			}
		}
	}

	#content {
		padding-bottom: 0;

		@include breakpoint (small only) {
			padding-top: rem-calc(20);
		}
		@include breakpoint (medium up) {
			padding-top: 0;
		}
	}

	#inner-content {
		padding: 0;
		// @include breakpoint (xlarge up) {
		// 	max-width: rem-calc(1280);
		// }
	}

	#main {
		padding-left: 0;
		padding-right: 0;
	}

	#left-navigation {
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);

		@include breakpoint (medium up) {
			border-right: 1px solid #ccc;
			padding-right: 0;
			padding-left: 0;
			// padding-top: rem-calc(20);
		}
		@include breakpoint (large up) {
			// padding-right: rem-calc(40);
		}

		.avatar {
			width:  rem-calc(80);
			height: rem-calc(80);
			margin: 0;
			border-radius: 50%;
			background-size: cover;
			background-position: center center;
			display: inline-block;

			@include breakpoint (large up) {
				width: rem-calc(120);
				height: rem-calc(120);
			}
		}

		h1 {
			margin: 0;
			font-size: rem-calc(18);
			@include breakpoint (medium up) {
				font-size: rem-calc(28);
			}
			@include breakpoint (large up) {
				font-size: rem-calc(48);
			}
		}

		#rsvp_chooser {
			padding: rem-calc(20);

			select {margin: 0;}
		}

		.accordion {
			border-radius: 0;
			border: 0;
			margin: 0;
		} 

		.accordion-title {
			font-size: rem-calc(18);
			background: $color-isl-ltblue;
			color: white;
			border-radius: 3px;
			border-bottom: none;

			@include breakpoint (large up) {
				display: none !important;
			}
		}

		.accordion-content {border: 0;}

		.left-nav-link-container {
			padding: 0;
			@include breakpoint (large up) {
				display: block !important;
			}

			a {
				display: block;
				position: relative;
				background-color: #fff;
				text-align: left;
				padding: rem-calc(10) rem-calc(12);
				font-weight: $font-weight-bold;
				color: $color-isl-dkblue;
				border-bottom: 1px solid #ccc;

				.status {
					overflow: hidden;
					float: right;
					display: block;
					width: 30px;
					text-align: right;
					}

				&.completable {
					.status i {
						display:none;
						float: none;
						font-size: 1.5rem;
						}
					&.complete {
						.fa-check {
							display: inline-block;
							color: $success-color;
							}
					}
					&.incomplete {
						.fa-times {
							display: inline-block;
							color: $warning-color;
							}
					}
				}

				span.notification {
					background: red;
					color: #ffffff;
					border-radius: 50%;
					font-size: 0.375rem;
					display: block;
					height: 12px;
					width: 12px;
					text-align: center;
					position: absolute;
					right: 1px;
					top: 8px;
				}

				i {
					float: right;
					font-size: rem-calc(20);
				}

				&.active {
					background-color: $color-isl-teal;
					color: #fff;

					i {color: #fff !important;}
				}
				&:hover {
					background-color: #eee;

					&.active {
						background-color: darken($color-isl-teal, 8%);
					}
				}
			}
		}
	}

	#myisl-body {
		#sub_page_title {
			padding: 0 rem-calc(20);
			margin-bottom: 0;
		}

		@include breakpoint (medium up) {
			padding-top: rem-calc(20);
		}
	}

	#canvas-container {
		position: relative;
		width: 100%;

		@include breakpoint (large up) {
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
		}

		iframe#myisl_canvas {
			min-height: 400px;
			transition: height 400ms ease-in-out;

			&.chat,
			&.private-chat {
				margin-top: rem-calc(20);
				max-height: 400px;
				// border-bottom: 1px solid #aaa;
			}
		}

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #fff;
			// background-color: blue;
			// opacity: 0;
			display: none;
		}
	}

	table.order {
		tbody th, tbody td {
			padding: rem-calc(15);
		}
	}
}

form.u_info {
	td, th {
		padding-left: 0;
		text-align: left;
		
		input, select {
			margin-bottom: 0;
			color: #222222;
		}

		.password-input, 
		.wp-generate-pw {
			width: 50%;
			float: left;
			}

		.password-input {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		.wp-generate-pw {
			margin: 0;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}


		input[type="checkbox"], input[type="radio"] {
			margin-right: rem-calc(5);
			margin-bottom: rem-calc(10);
		}

		span.description {
			font-style: italics;
			color: $dark-gray;
			font-size: rem-calc(12);
		}
	}
}

#profile_switch,
#banner_switch {
	img.preview_image {
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 20px;
	    }

	.upload-input-container {
	    overflow: hidden;
	    position: relative;
	    vertical-align: middle;

		input[type=file] {
			display: block;
			cursor: inherit;
			font-size: 999px;
			filter: alpha(opacity=0);
			opacity: 0;
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
		}
	}

	.upload-feedback {
	    font-style: italic;
	    display: none;

	    &.show{
	        display: inline-block;    
	        }
	}
}

#trip-feed {
	.team-thumb {
		@include aspect-ratio(1, 1);
		margin-right: rem-calc(10);
	}

	p {
		&.description {
			font-size: rem-calc(14);
		}
	}
}

h4.section-label {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: $color-isl-dkteal;
	margin-bottom: rem-calc(10);
	line-height: 1;
}

#dashboard {
	padding-bottom: rem-calc(20);
	// HEADER INFO
	.header-info {
		.team-details-container {
			.team-details {
				background-color: #eee;
				// background: linear-gradient(135deg, #eee, darken(#eee,13%));
				border-radius: 4px;
				// color: white;
				padding: rem-calc(20) rem-calc(20) 0;
				overflow: hidden;

				dl {
					width: 50%;
					float: left;

					dt {
						margin-bottom: 0;
						font-weight: bold;
						line-height: 1;
						}
					dd {
						margin-bottom: 20px;
						}
				}
			}		
		}
		
		.vec-info-container {
			padding: rem-calc(20) rem-calc(20) 0;

			@include breakpoint (medium up) {
				padding: rem-calc(68) rem-calc(20) rem-calc(20);
			}

			.avatar {
				@include aspect-ratio(1,1);
				width: 100%;
				// height: rem-calc(100);
				margin: 0 auto rem-calc(10);
				border-radius: 4px;
				background-size: cover;
				background-position: center center;
				display: block;

				@include breakpoint (large up) {
					width: rem-calc(120);
					height: rem-calc(120);
				}

				img {
					position: absolute;
					clip: rect(0px,100px,100px,0px);
					top: 0;
					left: 0;
				}
			}

			.vec-name {
				margin: 0 0 rem-calc(8);
				// text-align: center;
			}

			.vec-desc {
				font-size: rem-calc(12);
				font-style: italic;
				margin-bottom: rem-calc(20);
				// text-align: center;
				line-height: 1.2;
			}
		}

		.vec-message-container {
			padding: rem-calc(20) rem-calc(20);

			@include breakpoint (medium up) {
				padding: rem-calc(68) 0 rem-calc(20);
			}
		}
	}

	// MESSAGES
	.messages-container {
		margin-top: rem-calc(40);
		min-height: rem-calc(100);
		position: relative;

		&:before {
			content: 'You have no unread messages :)';
			display: block;
			text-align: center;
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translate(0, -50%);
			color: #999;
			z-index: 1;
			}

		#unread-hide-toggle {
			color: $color-isl-orange !important;
			display: inline;
			text-align: right;
			line-height: 1;
			-webkit-appearance: none;
			border: none;
			padding: 0;
			margin: 0;
			font-size: rem-calc(14);
			background-color: transparent;
			}

		ol.team-messages-list {
			list-style: none;
			margin: 0;
			background-color: #fff;
			position: relative;
			z-index: 100;

			li.message {
				font-size: rem-calc(14);
				position: relative;
				transition: all 180ms ease-out;

				&:nth-child(even) {background-color: #e9e9e9;}

				.message-subject {
					padding: rem-calc(20) rem-calc(10);
					font-size: rem-calc(14);
					display: inline-block;
					margin: 0;
					line-height: 1;
				}
				.message-body-wrap {
					height: 0;
					overflow: hidden;
					transition: height 180ms ease-out;

					.message-body {
						padding: rem-calc(20) rem-calc(10);
						height: auto!important;

					}
					.message-footer	{
						font-size: rem-calc(11);
						color: #aaa;
						padding-top: rem-calc(8);
					}
				}

				.message-toggle-trigger {
					position: absolute;
					right: 0;
					top: rem-calc(12);

					&:before {
						font-size: 12px;
						font-weight: bold;
					}
				}

				&.dim,
				&.read {
					opacity: 0.35;
				}
				&.closed {
					.message-toggle-trigger:before {
						content: 'Open';
						}
				}
				&.open {
					z-index: 1000;
					width: 95%;
					margin: 0 auto;
					border-radius: 4px;
					background-color: white !important;
					box-shadow: 0 0 30px rgba(0,0,0,0.5);

					.message-toggle-trigger {
						background-color: $color-isl-ltblue;
					}
					.message-toggle-trigger:before {
						content: 'Mark as Read';
						}
					&.read {
						opacity: 1 !important;

						.message-toggle-trigger:before {
							content: 'Close';
							}
					}					
				}
			}
		}
	}

	.financial-details-container {
		padding-top: rem-calc(40);

		.first-column {
			padding-right: rem-calc(16);
			}
		
		h5 {
			font-size: rem-calc(16);

		}
		table.order {
			// border-collapse: collapse;
			width: 100%;

			td {
				padding: rem-calc(8);
			}
			tr.totals-row {
				td {
					border-top: 2px solid #000;
					font-weight: bold;
					font-size: rem-calc(15);
					text-transform: uppercase;
				}
			}
			td {
				padding-left: 0;
				}
		}

		.make-payment-button {
			margin: 0;
		}
	}

	#coordinator {
		overflow: hidden;
		background:LightBlue;TODO:DeleteMe;

		#vec {
			float: left;
			width: 100%;
			text-align: center;
			font-size: rem-calc(14);
			color: #000;
			padding: rem-calc(5) rem-calc(10);
			margin-right: 1rem;
			@include breakpoint (medium up) {
				width: 25%;
			}


			p {
				line-height: 1;

				span {
					font-weight: bold;
					font-size: rem-calc(20);
				}
			}
		}
		
		p {
			&.message {
				font-style: italic;
				width: 100%;
				@include breakpoint (medium up) {
					width: 72%;
					float: left;
				}
			}
		}
	}
}

#wppb-login-wrap {
	margin: 0 auto;
	display: block;
	text-align: left;
	padding: rem-calc(10);
	border: 1px solid #cccccc;
	border-radius: 3px;
  
	@include breakpoint(medium up) {
		width: 50%;
	}


	label {
		float: none !important;
	}

	input[type="button"], input[type="reset"], input[type="submit"] {
		margin: 7px 0 0 5px;
		background: $color-isl-orange;
		border-radius: 3px;
		font-weight: bold;
		font-size: rem-calc(18);
		color: $white;
		font-family: $body-font-family !important;
		border: 0;
		padding: 0.85em 1.3em;
	}

	p {
		&.login-username,
		&.login-password,
		&.login-remember {
			padding-left: rem-calc(5);
		}
	}
}

.wppb-form-field input[type="text"], .wppb-form-field input[type="email"], .wppb-form-field input[type="url"], .wppb-form-field input[type="password"], .wppb-form-field input[type="search"], .wppb-form-field select, .wppb-form-field textarea, .wppb-checkboxes, .wppb-radios, #wppb-login-wrap .login-username input, #wppb-login-wrap .login-password input {
	width: 100% !important;
}

.login {
	text-align: center;
}

tr.border_bottom td {
  border-bottom: 1px solid #ccc;
}

#pass-strength-result {
	@include breakpoint (small only) {
		margin: rem-calc(12) 0 !important;
	}
}

//Passport
#pimg {
	table {
		
		tbody {
			
			td {
				padding: rem-calc(10) rem-calc(10) rem-calc(10) 0;
				vertical-align: top;
					
				img {
					border: 1px solid #ccc;
					min-height: rem-calc(250);
					padding: rem-calc(10);
				}
			}
		}
	}
}


// Flight Information 
#flight_data {
	input, select {
		margin-bottom:0
	}

	label {font-weight: bold;}

	table {width: 100%;}
}


//Contact Settings
#settings {
	.acf-fields > .acf-field {
		padding: rem-calc(15) 0;
	}

	.acf-field .acf-label label,
	.acf-field .acf-label p {
		font-size: rem-calc(16) !important;
	}
}

// .make-payment-button {
// 	margin-right: 0;
// 	width: 100%;
// }
.cancel-button {
	width: 100%;
	text-align: center;
	margin-bottom: rem-calc(20);
	font-size: rem-calc(12);
}

.file-input-container {
	overflow: hidden;
	position: relative;

	input[type=file] {
		display: block;
		cursor: inherit;
		font-size: 999px;
		filter: alpha(opacity=0);
		opacity: 0;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
	}
}

.callout {
	margin-top: 20px;

	> p {margin-bottom: 0}
}

// jQueryUI Datepicker - i.e., Calendar Widget
.ui-datepicker {
    box-shadow: 0 0 15px rgba(0,0,0,0.75);

    * {
        font-family: Helvetica, Arial, sans-serif !important;
    }

    .ui-widget-header {
        background: transparent !important;
        border: none !important;

        .ui-datepicker-prev,
        .ui-datepicker-next {
            top: 5px;
        }

        .ui-datepicker-year {
            width: 45%;
            margin-left: 6px;
        }
    }
    .ui-datepicker-calendar {
        .ui-state-default {
            background: white !important;

            &.ui-state-active,
            &:hover {
                background-color: #2b5990 !important;
                color: white;
            }
        }
    }
}