/*********************
Blog Page
*********************/

.short-banner {
	position: relative;
	height: rem-calc(170);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	top: rem-calc(10);
	@include breakpoint (medium up) {
		height: rem-calc(300);
	}

	.entry-header {
		position: relative;
		top: rem-calc(95);
		text-align: center;
		z-index: 101;
		@include breakpoint (medium up) {
			top: 50%;
		}

		h1 {
			font-weight: $font-weight-black;
			color: $color-isl-ltblue;
			text-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
			text-align: center;
			text-transform: uppercase;
		}

		h2 {
			font-weight: $font-weight-bold;
			color: #fff;
			text-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
			text-align: center;
			font-style: italic;
			text-transform: uppercase;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.4;
		z-index: 98;
	}
}

#blog {
	.featured-image {
		@include aspect-ratio(11,6);
		margin-bottom: 10px;

		overflow: hidden;
		border-radius: 4px;
	}

	h3 {
		font-weight: 700;
		color: #000;
		font-size: rem-calc(22);
		line-height: 1;
		margin-bottom: rem-calc(10);

		@include breakpoint (medium up) {
			font-size: rem-calc(20);
		}
		@include breakpoint (large up) {
			font-size: rem-calc(24);
		}

		a {color: #000;}
	}

    .byline {
        color: #888;
        padding-bottom: 8px;

        a {
        	color: #888;
        	border-bottom: 1px dotted #aaa;

        	&:hover {
        		color: $color-isl-orange;
        		border-bottom: 1px solid $color-isl-orange;
        	}
        }
    }

	h5 {
		font-weight: 700;
		color: #000;
		
		@include breakpoint (medium up) {
			font-size: rem-calc(20);
			line-height: rem-calc(20);
		}

		a {
			color: #000;
		}
	}

	span {
		color: #aaaaaa;
		font-size: rem-calc(12);
		line-height: 3;
	}

	.button {
		font-weight: 700;
		display: inline-block;
		margin-top: rem-calc(40);
		background: $color-isl-ltblue;
		
		@include breakpoint (medium up) {
			font-size: rem-calc(20);
		}
	}

	.button:hover {
		background: scale-color($color-isl-ltblue, $lightness: -15%);
	}

	.archive-grid:nth-of-type(1) {
		margin-top: rem-calc(10);

		@include breakpoint (medium up) {
			margin-top: 0;
		}

		.article {
			margin-bottom: rem-calc(25);
		}

		.article:nth-of-type(1) {
			width: 100%;
			margin-top: 0;

			.featured-image {
				@include aspect-ratio(11,6);
				width: 100%;
				@include breakpoint (medium up) {
					width: 49.25%;
					float: left;
					margin-right: rem-calc(20);
				}
			}

			.excerpt {
				padding-top: rem-calc(20);
			}
		}

		.article:nth-of-type(2),
		.article:nth-of-type(3) {
			@include breakpoint (medium up) {
				width: 50%;
				// padding-left: rem-calc(20);
				// padding-right: rem-calc(20);
			}
		}
	}

	.article {
		padding: rem-calc(10);
		margin:0;

		.entry-content {
			font-size: rem-calc(14);
		}

		@include breakpoint (medium up) {
			width: 33.33333333333%;
			margin: rem-calc(20) 0;
		}
	}
}

#blog-single {
	padding-top: rem-calc(46);
	
	h1 {
		font-size: rem-calc(40);
	}

	#inner-content {
		padding-top: 20px;
	}

	@include breakpoint (small only) {
		#main {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.cat-menu {
	background: $color-isl-ltblue;
	color: #fff;
	padding: rem-calc(20) rem-calc(10) rem-calc(7);
	text-align: left;
	line-height: 1.2;

	@include breakpoint (medium up) {
		text-align: center;
		//padding: rem-calc(20);
	}

	span {
		font-size: 16px;
		font-weight: 800;
		@include breakpoint (medium up) {
			font-size: rem-calc(24);
		}
		
	}

	li {
		list-style: none;
		display: inline-block;
		font-size: rem-calc(14);
		line-height: 1;
		background: $color-isl-dkblue;
	    padding: 5px;
	    border-radius: 2px;
	    text-align: center;
	    margin-bottom: 5px;

		a {
			color: #fff;
			font-weight: 400;
			@include breakpoint (medium up) {
				padding: 0 15px 0 0;
			}
		}

		@include breakpoint (medium up) {
			font-size: rem-calc(18);

			a {
				color: #fff;
				padding: 10px 15px;
			}
		}
	}
}