/*********************
Cart & Checkout
*********************/

.cart-banner {
	background: $color-isl-ltblue;
	height: rem-calc(150);
	border-bottom: 16px solid $color-isl-dkblue;
}

#payment {

	.columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.panel {
		position: relative;
		padding: rem-calc(15) rem-calc(20);

		div {
			height: 72%;

			h3 {
				span {
					font-size: rem-calc(14);
					font-weight: 300;
				}
			}
		}

		a {

			&.button {
			  background: #ffffff;
			  color: #00aeef;
			  font-weight: 700;
			  width: 100%;
			}
		}
	}

	#balance.panel {
		margin-left: rem-calc(5);
	}

	#deposit.panel {
		margin-right: rem-calc(5);
	}
}


.reveal {
  top: 100px !important;
  position: fixed !important; 
}

.team-cart {

	.item {
		overflow: hidden;
		margin-bottom: rem-calc(20);
		padding: rem-calc(10);

		h5 {
			padding-left: rem-calc(10);
		}
	}

	.item:nth-child(even) {
		background: #f6f6f6;
	}

	.details {

	}

	.quantity {
		@include breakpoint (small only) {
			margin-top: rem-calc(10);
		}
		@include breakpoint (medium up) {
			text-align: center;
		}
		@include breakpoint (large up) {
			margin-top: rem-calc(-40);
		}
	}

	.team-totals {
		margin-bottom: rem-calc(10);
		float: right;
		@include breakpoint (medium up) {
			text-align: right;
		}
	}

	.subtotal {
		border-top: 1px solid $light-gray;
		padding: rem-calc(8) rem-calc(3);
		overflow: hidden;
		margin: rem-calc(10) 0 0;
		clear: both;

		span {
			display: block;
			@include breakpoint (medium up) {
				text-align: right;
			}
		}
	}

	span.small {
		font-size: 0.85rem;
		text-align: left;
		display: inline;
	}
}

.rep-code {
	p {
		font-size: rem-calc(14);
		margin-top: rem-calc(10);
		float: left;
	}

	[type='text'] {
		width: rem-calc(150);
		float: left;
		margin: 0 0.5rem;
		@include breakpoint (small only) {
			margin: 0.5rem 0;
			width: 100%;
		}
	}

	[type='submit'] {
		@include breakpoint (small only) {
			width: 100%;
			margin: 0.5rem 0 1rem;
		}
	}
}

.totals {
	@include breakpoint (medium up) {
		text-align: right;
	}

	.button {
		margin: 0 0 1rem 0;
	}
}


#login {
	
	#wppb-login-wrap {
		margin: 0 auto;
		display: block;
		text-align: left;
		padding: rem-calc(10);
		border: 1px solid #cccccc;
		border-radius: 3px;
		width: 90%;

		label {
			float: none !important;
		}

		input[type="button"], input[type="reset"], input[type="submit"] {
			margin: 7px 0 0 5px;
			background: $color-isl-orange;
			border-radius: 3px;
			font-weight: bold;
			font-size: rem-calc(18);
			color: $white;
			font-family: $body-font-family !important;
			border: 0;
			padding: 0.85em 1.3em;
		}
	}

	p {
		&.login {
			text-align: center;
			margin-top: rem-calc(5);
		}
	}
}