/*********************
Cart & Checkout
*********************/

.no-banner {
	background: $color-isl-ltblue;
	height: rem-calc(150);
	border-bottom: 16px solid $color-isl-dkblue;
	margin-bottom: rem-calc(20);
}

#checkout {
	
	h2 {
		padding-left: 1.25rem;
	}

	.part_agree {
		input {
			float: left;
		}
		p {
			padding-left: 20px;
			margin-top: -4px;
		}
	}
}

#payment {
	@include breakpoint (small only) {
		padding: 0 rem-calc(20);
	}

	.columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.panel {
		position: relative;
		padding: rem-calc(20);
		width: 46%;
		float: left;
		background: $color-isl-ltblue;
		color: $white;

		@include breakpoint (small only) {
			margin: 0 0 rem-calc(20) 0;
			width: 100%;
		}

		div {
			height: auto;

			h3 {
				line-height: 1.5rem;
			}
				
			span {
				line-height: rem-calc(16);
				font-size: rem-calc(14);
				font-weight: 300;
				display: inline-block;
			}
		}

		a {

			&.button {
			  //background: #ffffff;
			  //color: #00aeef;
			  font-weight: 700;
			  width: 100%;
			  margin-bottom: 0;
			  margin-top: rem-calc(10);
			}
		}
	}

	.divider {
		width: 8%;
		float: left;
		
		h4 {
			text-align: center;
			top: 50%;
			position: relative;
		}
	}

	// #balance.panel {
	// 	@include breakpoint (medium up) {
	// 		margin-left: rem-calc(5);
	// 	}
	// }

	// #deposit.panel {
	// 	@include breakpoint (medium up) {
	// 		margin-right: rem-calc(5);
	// 	}
	// }
}


.reveal {
  top: 100px !important;
  position: fixed !important; 
}

.page-title {
	max-width: rem-calc(950);
	padding: 0;
}

#cart {
	@include breakpoint (large up) {
		max-width: rem-calc(950);
	}
}

.team-cart {
	.page-template-receipt & {
		background: #fff;

		.button.primary {
			display: block;
			margin: 0 auto;
		}
	}

	background: #f6f6f6;
	.item {
		//overflow: hidden;
		margin-bottom: rem-calc(20);
		padding: rem-calc(20) 0 0;

		h5 {
			padding-left: rem-calc(20);
		}
	}

	.item:nth-child(odd) {
		
	}

	.item:last-child {
		margin-bottom: 0;
	}

	.details {

	}

	.quantity {
		@include breakpoint (small only) {
			margin-top: rem-calc(10);
		}
		@include breakpoint (medium up) {
			text-align: center;
		}
		@include breakpoint (large up) {
			margin-top: rem-calc(-32);
		}
	}

	.team-totals {
		
		margin-bottom: rem-calc(10);
		float: right;
		@include breakpoint (medium up) {
			margin-top: 0;
			text-align: right;
		}
	}

	.subtotal {
		padding: rem-calc(8) 0;
		overflow: hidden;
		margin: rem-calc(10) rem-calc(20) 0 rem-calc(20) !important;
		clear: both;

		span {
			display: block;
			margin-top: rem-calc(20);
			@include breakpoint (medium up) {
				text-align: right;
				margin-top: 0;
			}
		}

		@include breakpoint (medium up) {
			border-top: 1px solid $light-gray;
		}
	}

	span.small {
		font-size: 0.85rem;
		text-align: left;
		display: inline;
	}
}

.rep-code {
	@include breakpoint (small only) {
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		margin-bottom: rem-calc(20);
	}
	@include breakpoint (large up) {
		//width: 60%;
		//float: left;
		margin-top: rem-calc(20);
		padding-left: rem-calc(15);
	}

	p {
		font-size: rem-calc(12);
		font-style: italic;
		margin-top: rem-calc(10);
		float: left;
	}

	[type='text'] {
		width: rem-calc(150);
		float: left;
		margin: 0 0.5rem;
		height: rem-calc(35);
		@include breakpoint (small only) {
			margin: 0.5rem 0;
			width: 100%;
		}
	}

	[type='submit'] {
		background: $color-isl-dkblue;
		font-weight: bold;
		padding: 0.65rem;
		font-size: rem-calc(13);
		border-radius: $global-radius;
		margin-bottom: 0;
		@include breakpoint (small only) {
			width: 100%;
			margin: 0.5rem 0 1rem;
		}
	}

	[type='submit']:hover,
	[type='submit']:focus {
		background: scale-color($color-isl-dkblue, $lightness: -14%);
	}
}

.totals {
	@include breakpoint (large up) {
		//width: 40%;
		//float: left;
		padding-right: rem-calc(15);
	}

	@include breakpoint (medium up) {
		text-align: right;
	}

	&.row {
		margin: 0;

		@include breakpoint (small only) {
			margin-bottom: rem-calc(10);
		}

		@include breakpoint (large up) {
			margin-top: rem-calc(20);
		}
	}

	.button {
		margin: 0 0 1rem 0;
	}
}


#login {
	
	#wppb-login-wrap {
		margin: 0 auto;
		display: block;
		text-align: left;
		padding: rem-calc(10);
		border: 1px solid #cccccc;
		border-radius: 3px;
		width: 90%;

		label {
			float: none !important;
		}

		input[type="button"], input[type="reset"], input[type="submit"] {
			margin: 7px 0 0 5px;
			background: $color-isl-orange;
			border-radius: 3px;
			font-weight: bold;
			font-size: rem-calc(18);
			color: $white;
			font-family: $body-font-family !important;
			border: 0;
			padding: 0.85em 1.3em;
		}
	}

	p {
		&.login {
			text-align: center;
			margin-top: rem-calc(5);
		}
	}
}