// div.chatterbox_wrapper
// {
// 	float: left;
// 	height: 500px !important;
// 	width: 100%;
// 	overflow-x: hidden;	
// 	font-family: $body-font-family !important;
// 	border-top: 1px solid #ccc;
// 	border-bottom: 1px solid #ccc;
// 	padding: 20px;
// 	margin-bottom: 20px;
// }

// div.message_line
// {
// 	width: 100%;
// 	margin-bottom: 10px;
// 	/* float: left; */
// }

// div.cb_user_data 
// {
// 	float: right;
// 	display: inline;
// 	position: relative;
// 	right: 0px;

// 	width: 65px !important;
// 	border-radius: $global-radius !important;

// 	background-color: transparent !important;
// 	font-size: 8pt;

// 	border: 0;
	
// 	padding: 5px !important;

// 	img {
// 		height: 55px !important;
// 		width: 55px !important;
// 	}
// }

// div.cb_message_data
// {
// 	float: right;
// 	display: inline;

// 	width: 70%;
// 	margin: 10px 10px 0 !important;
	
// 	border-radius: $global-radius !important;
// 	background-color: lighten($color-isl-ltblue, 25%) !important;
// 	font-size: rem-calc(14);

// 	padding: 10px 15px !important;
// }

// div.cb_user_other 
// {
// 	float: left;
// 	display: inline;
	
// 	width: 65px !important;

// 	background-color: transparent !important;
// 	font-size: 8pt;

// 	border-radius: $global-radius !important;
// 	border: 0;
	
// 	padding: 5px !important;
// }

// div.cb_message_other
// {
// 	float: left;
// 	display: inline;

// 	width: 70%;
// 	margin: 10px 10px 0 !important;

// 	border-radius: $global-radius !important;
// 	background-color: lighten($color-isl-teal, 8%) !important;
// 	font-size: rem-calc(14);

// 	padding: 10px 15px !important;
// }

// div.cb_message_who {
// 	color: #ccc;
// 	font-size: rem-calc(13);
// 	float: right;
// 	padding-right: rem-calc(10);
// }

// div.cb_message_who_other {
// 	color: #ccc;
// 	font-size: rem-calc(13);
// 	padding-left: rem-calc(10);
// }