.footer {

	.section {
		padding: 0 rem-calc(30);
		position: relative;

			::-webkit-input-placeholder {
			color: #808080;
			}
			:-moz-placeholder {
			color: #808080;
			}
			::-moz-placeholder {
			color: #808080;
			}
			:-ms-input-placeholder { 
				color: #808080;
			}
		}

	.newsletter {
		&.section {
			@include breakpoint(small only) {
				padding: 0 rem-calc(30) rem-calc(70);
			}

			h3 {
				font-size: rem-calc(20);

				@include breakpoint(small only) {
					margin-top: rem-calc(20);
				}

				@include breakpoint(medium up) {
					font-size: rem-calc(17);
				}
				@include breakpoint(large up) {
					font-size: rem-calc(28);
				}
			}
		}
	}

	.search {
		padding-top: rem-calc(10);
		&.section {

			input {
				margin-bottom: 0;
				-webkit-appearance: none !important;
			}
		}
	}

	.teal,
	.dkteal, 
	.dkblue, 
	.ltblue, 
	.orange, 
	.white {
		position: relative;
		padding: rem-calc(30) 0px;
	}

	.logo {
		float: left;

		@include breakpoint (medium down) {
			float: none;
		}

		svg {
			@include breakpoint (small only) {
				width: rem-calc(225);
			}
			@include breakpoint (medium down) {
				margin: 0 auto;
				display: block;
			}
		}
	}

	h4 {
		span {
			margin-top: 2%;
			float: right;

			@include breakpoint (medium down) {
				float: none;
			}

			a {
				color: $white;
			}
		}

		@include breakpoint (medium down) {
			text-align: center;
			margin-top: 2rem;
		}
	}

	.footer-menu {
		@include breakpoint (small only) {
			display: none;
		}

		ul {
			list-style: none;

			li {
				padding-right: rem-calc(40);
	
				@include breakpoint (medium down) {
					padding-right: rem-calc(20);
				}
			}

			a {
				padding-left: 0;
				font-weight: 700;
				color: $color-isl-dkblue;
				transition: color 0.25s ease-out;
			}

			a:hover {
				color: $color-isl-orange;
			}

			ul {
				margin-left: 0;
		
				li {
					padding-right: rem-calc(20);
				}

				a {
					font-weight: 400;
					line-height: 20px;
					letter-spacing: -0.5px;
					font-size: rem-calc(14);
				}
			}
		}



		.menu > li {
			vertical-align: top;
		}
	}

	.sm-icons {
		margin: 0 0 rem-calc(20);
		font-size: rem-calc(44);
		overflow: hidden;

		@include breakpoint (medium up) {
			margin: 0 0 rem-calc(40);
		}
		@include breakpoint (815 down) {
			font-size: rem-calc(40);
		}

		a {
			color: #ffffff;
			margin-right: 16%;
			width: 9%;
			transition: color 0.25s ease-out;

			@include breakpoint (medium up) {
				margin-right: 12%;
			}
			@include breakpoint (large up) {
				margin-right: 18%;
			}
		}

		a:last-of-type {
			margin-right: 0;
		}

		a:hover {
			color: $color-isl-teal;
		}
	}

	form.search-form {
		// margin-top: 8px;
	}

	input[type="search"] {
		width: 65%;
		height: 40px;
		float: left;
		background: #e4e4e4;
		font-weight: 500;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		@include breakpoint (medium up) {
			height: 71px;
		}

		@include breakpoint (xlarge up) {
			width: 75%;
			font-size: rem-calc(20);
			margin-bottom: 0;
		}
	}

	[type='submit'], [type='button'] {
		width: 35%;
		height: 40px;
		float: left;
		font-weight: 500;
		margin: 0;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		@include breakpoint (small only) {
			padding: 0.3em 1.3em;
		}

		@include breakpoint (medium up) {
			height: 71px;
		}

		@include breakpoint (xlarge up) {
			width: 25%;
			font-size: rem-calc(20);
		}
	}

	.gform_wrapper {
		max-width: 100%;
		overflow: hidden;
	
		.top_label .gfield_label {display: none}

		@include breakpoint(small only) {
			margin: 0.5rem 0;
		}
	}

	.gform_body {
		width: 100%;
		float: left; 

		@include breakpoint (small only) {
			//margin-bottom: rem-calc(18);
		}

		input {
			width: 100%;
			font-weight: bold;

			@include breakpoint(medium up) {
				height: rem-calc(60);
				font-size: rem-calc(24);
			}
		}
	}

	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=password], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url] {
		padding: 10px;
	}

	.gform_wrapper .top_label li.gfield.gf_right_half,
	.gform_wrapper .top_label li.gfield.gf_left_half {
		@include breakpoint (small only) {
			height: rem-calc(50);
		}	
	}

	.gform_wrapper ul li.gfield {
		margin-top: 0 !important;
	}

	.gform_footer {
		width: 100%;
		float: right;

		@include breakpoint (small only) {
			margin: 8px 0 20px !important;
		}

		[type='submit'], [type='button'] {
			@include breakpoint (small only) {
				width: 100%;
				text-align: center;
			}
			margin: 7px 0 0;
			background: $color-isl-teal;
			border-radius: 3px;
			font-weight: bold;
			font-size: 1rem;

			@include breakpoint (medium up) {
				font-size: rem-calc(20);
				float: right;
			}	
		}

		.gform_button:hover, .gform_button:hover {
			background: $color-isl-dkteal;
		}
	}

	.gform_wrapper .gform_footer {
		clear: none;
		padding: 0;
	}

	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit], 
	.gform_wrapper .gform_page_footer input.button, 
	.gform_wrapper .gform_page_footer input[type=submit] {
		margin: 0 !important;
	}

	.gform_wrapper .top_label li.gfield.gf_left_half,
	.gform_wrapper .top_label li.gfield.gf_right_half {
		width: 100%;

		input.large {
			width: 100%;
			margin: 0;
			background: #e4e4e4;
		}
	}

	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
		@include breakpoint (medium up) {
			font-size: rem-calc(20);
			width: auto;
		}
	}

	.bottom {
		@include breakpoint (small only) {
			position: absolute;
			bottom: rem-calc(-50);
			z-index: 99;
		}
	}

	.source-org {
		&.copyright {
			margin-top: 20px;
			margin-left: 10px;
			font-size: rem-calc(14);
			line-height: rem-calc(14);
		}

		@include breakpoint(small only ) {
			margin: 0 1em;
		}
	}
}