/*********************
Fundraiser Styles
*********************/



#fundraiser {

	#left-navigation {
		padding-right: 2rem;
		border-right: 0px solid #fff;
		text-align: center;

		@include breakpoint(medium down) {
			margin-bottom: 20px;
		}
	}

	#right {
		padding-left: 2rem;
		
		@include breakpoint (large up) {
			border-left: 1px solid #ccc;
		}
	}



	.avatar {
		//width: 200px;
		//height: 200px;
		@include aspect-ratio (1,1);
		max-width: 200px;
		border-radius: 50%;
		border: 3px solid #eee;
		display: block;
		margin: rem-calc(10) auto rem-calc(30) auto; 
	}

	meter {
		display: block;
		border-radius: 6px;
		overflow: hidden;
		background: #e9e9e9;
		width: 100%;
		height: rem-calc(60);
	}

	meter::-webkit-meter-bar {
	  	background: none;
	  	background-color: #ccc;
		}

	meter::-webkit-meter-optimum-value {
		background: $color-isl-ltblue;
	  	background: linear-gradient(45deg,$color-isl-ltblue,$color-isl-dkblue);
	}

	.raised {
		padding-top: rem-calc(10);
		text-align: left;
		width: 50%;
		float: left;
	}

	.goal {
		padding-top: rem-calc(10);
		text-align: right;
		width: 50%;
		float: right;
	}

	.raised,
	.goal {
		margin-bottom: rem-calc(16);

		span {
			font-weight: 400;
		}
	}

	h3 {
		a {
			&.twitter {
				color: #00aced;
			}

			&.facebook {
				color: #3b5998;
			}
		}
	}

	#donations {
		.item {
			width: 100%;
			padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(25);
			overflow: hidden;

			h3 {
				&.name {

				}

				&.amount {
					text-align: center;
					font-size: rem-calc(60);
					line-height: rem-calc(60);
					margin-bottom: rem-calc(10);
					margin-top: rem-calc(-10);
				}

				span {
					font-size: rem-calc(20);
					line-height: rem-calc(18);
					font-weight: 400;
				}
			}

			.donater {
				width: 75%;
				float: left;
				padding-right: rem-calc(20);
				border-right: 1px solid #efefef;

				p {
					padding-right: rem-calc(10);
					font-size: rem-calc(14);
				}

				.note {
					h3 {
						margin-bottom: rem-calc(5);
					}
				}
			}

			.donation {
				width: 25%;
				float: right;
				position: relative;

				p {
					text-align: center;
					font-size: 0.75rem;
				}
			}
		}

		.item:nth-child(odd) {
			background: #fafafa;
		}

		.item:nth-child(even) {
			background: #f0f0f0;
		}
	}
}