.banner {
	position: relative;
	height: 260px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint (medium up) {
		height: 375px;
	}

	@include breakpoint (xlarge up) {
		height: rem-calc(400);
	}

	.entry-header {
		position: relative;
		top: 50%;
		text-align: center;

		h1 {
			position: relative;
			font-weight: $font-weight-black;
			// color: $color-isl-ltblue;
			color: white;
			text-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
			text-align: center;
			text-transform: uppercase;
			z-index: 999;
			}

		h2 {
			position: relative;
			font-weight: $font-weight-bold;
			color: #fff;
			text-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
			text-align: center;
			text-transform: uppercase;
			z-index: 999;
			}
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.4;
		z-index: 99;
		}
}