// Repeated Elements
@mixin home-h2() {
	font-weight: 800;
	line-height: 1;

	@include breakpoint(medium up) {
		font-size: rem-calc(33);
	}

	@include breakpoint(large up) {
		font-size: rem-calc(45);
	}
}
@mixin home-h3() {
	font-style: italic;
	max-width: 700px;
	font-weight: 300;
	margin: 0 auto rem-calc(10);
	line-height: 1.2;

	@include breakpoint(medium up) {
		font-size: rem-calc(24);
	}
}
@mixin home-h4() {
	font-style: italic;
	max-width: 700px;
	font-weight: 300;
	margin: 0 auto rem-calc(10);

	@include breakpoint(medium up) {
		font-size: rem-calc(18);
		line-height: 1.2;
	}
}
.feature-block {
	display: table;
	width: 100%;
	position: relative;
	padding: rem-calc(40);
	min-height: rem-calc(400);
	background-color: $color-isl-ltblue;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.title {
		display: table-cell; 
		vertical-align: middle;
		text-align: center;

		h2 {
			@include home-h2;
		}
		h3 {
			@include home-h3;	
		}
		.button {
			margin: rem-calc(10) 0 0 0;
		}
	}
}
h2.white-text {
	color: #fff;
}
h3.white-text {
	color: #fff;
}
h2.white-with-shadow {
	color: #fff;
	text-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}
h3.white-with-shadow {
	color: #fff;
	text-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}
h4.white-with-shadow {
	color: #fff;
	text-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}

#home-hero {
	width: 100%;
	height: rem-calc(550);
	background-size: cover;
	background-position: center center;
	position: relative;

	@include breakpoint(medium up) {
		height: rem-calc(580);

		// height: rem-calc(632);

		h1 {
			position: relative;
			top: 30%;
			font-weight: 800;
			text-align: center;
			@include breakpoint(medium up) { 
				font-size: rem-calc(56);
				}

			span {
				color: $color-isl-dkblue;
				font-weight: 300;
				}

			a {
				color: $color-isl-dkblue;
				padding: 10px;
			}
		}
	}

	.bg-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 100%;
		@include breakpoint (medium up) {
			background-size: cover;
		}
		}

	.bg-video {
		position: absolute;
		overflow: hidden;
		height: 600px;
		width: 100%;
		}

	video#bgvid {
	    position: absolute;
	    z-index: 1;
		box-sizing: border-box;
		width: auto;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%, -50%);
		overflow: hidden;
		min-width: 100%;
		min-height: 101%;
		}

	.home-slick-slider {
		width: 100%;
		height: auto;
		margin: 0 auto;
		top: 130px;
		display: none;
		z-index: 999;
		@include breakpoint (640 up) {
			width: rem-calc(675);
			top: 150px;
		}
		@include breakpoint(901 up) { 
			height: rem-calc(550);
			top: rem-calc(185);
			width: rem-calc(800);
		}
		@include breakpoint(large up) { 
			width: rem-calc(1068);
		}

		button.slick-prev {
			position: absolute;
			left: -5%;
			top: 47%;
			@include breakpoint(medium up) {
				top: 42%;
			}
			@include breakpoint(large up) {
			top: 40%;
			}
		}
		button.slick-next {
			position: absolute;
			right: -5%;
			top: 47%;
			@include breakpoint(medium up) {
				top: 42%;
			}
			@include breakpoint(large up) {
				top: 40%;
			}
		}

		ul.slick-dots {
			position: absolute;
			top: -15px;
			list-style: none;
			text-align: center;
			width: 100%;
			margin: 0;

			li {
				display: inline-block;
				padding: 0 rem-calc(12);

				@include breakpoint (medium up) {
					padding: 0 rem-calc(15);
				}
			}

			@include breakpoint(large up) {
				top: -40px;
			}
		}

		ul.slick-dots li::before {
				margin-left: -20px;
			@include breakpoint(medium up) {
				margin-left: -25px;
				margin-right: 10px;
			}
		}

		ul.slick-dots li:nth-child(2)::before,
		ul.slick-dots li:nth-child(3)::before {
			content: '\f111';
			font-family: FontAwesome;
			color: $color-isl-dkblue;
			position: absolute;

			top: rem-calc(4);
			font-size: rem-calc(9);

			@include breakpoint(medium up) {
				top: rem-calc(6);
				font-size: rem-calc(12);
			}
			@include breakpoint(large up) {
				top: rem-calc(14);
				font-size: rem-calc(16);
			}
		}

		.slick-dots li button {
			color: transparent;
		}

		.slick-dots li button::before {
			visibility: visible !important;
			font-size: rem-calc(20);
			font-weight: 800;
			color: $color-isl-dkblue;
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);

			@include breakpoint(medium up) {
				font-size: rem-calc(30);
				text-shadow: 0 0 6px rgba(255, 255, 255, 0.45);
			}

			@include breakpoint(large up) { 
				font-size: rem-calc(54);
				letter-spacing: 1px;
			}
		}
		.slick-dots li.slick-active button::before {
			color: $color-isl-ltblue;
			text-shadow: 0 0 6px rgba(255, 255, 255, 0.75);
		}

		.slick-dots li:nth-child(1) button::before {
			content: 'TRAVEL';
		}

		.slick-dots li:nth-child(2) button::before {
			content: 'SERVE';
		}

		.slick-dots li:nth-child(3) button::before {
			content: 'LEARN';
		}

		.slide {
			position: relative;
			width: rem-calc(700);
			padding-top: 35px;
			text-align: left;
			height: auto;

			@include breakpoint (large up) {
				width: rem-calc(1064);
				height: 550px;
				padding-top: 60px;
			}

			.arrow-up {
				display: none;
				@include breakpoint(small only) {
					display: block;
					width: rem-calc(36);
					margin: rem-calc(-20) auto 0;
				}
			}

			.slide-panel {
				position: relative;
				height: auto; 
				padding: 20px;
				background: #fff;
				height: rem-calc(395);

				@include breakpoint(medium up) {
					height: rem-calc(315);
					background: rgba(255, 255, 255, 0.78);
					border-radius: $global-radius;
				}
				@include breakpoint(large up) { 
					height: 463px;
					padding: 85px 2rem 2rem;
					background: url(../images/slide-middle.svg);
					background-repeat: no-repeat;
					background-position: bottom center;
				}
				.text {
					width: 64%;
					// position: relative;
					// z-index: 200;

					@include breakpoint (650 down) {
						width: 100%;
					}
					@include breakpoint(large up) {
						width: 58.33333333%;
					}

					.slide-text-bottom {
						display: table;
						width: 56%;
						position: absolute;
						bottom: 0;
						height: rem-calc(90);

						@include breakpoint (medium up) {
							height: rem-calc(80);
						}
						@include breakpoint (large up) {
							height: rem-calc(128);
						}

						.button-container, 
						.quote-container {
							display: table-cell;
							vertical-align: middle;
						}

						.quote-container {
							padding-left: rem-calc(16);
							
							p {
								@include breakpoint (medium up) {
									line-height: 1.2;
								}
								@include breakpoint (large up) {
									line-height: 1;
								}
							}
						}
					}

					&.left {
						float: left;
						width: 64%;

						@include breakpoint (650 down) {
							width: 100%;
						}
						@include breakpoint(large up) {
							width: 58.33333333%;
						}

						.slide-text-bottom {
							@include breakpoint (medium up) {
								left: rem-calc(32);	
							}
						}
					}

					&.right {
						float: right;
						width: 62%;

						@include breakpoint (650 down) {
							width: 100%;
						}
						@include breakpoint(large up) {
							width: 60%;
						}

						.slide-text-bottom {
							@include breakpoint (medium up) {
								//right: rem-calc(32);	
							}
						}
					}

					&.full {
						width: 100%;
						float: left;
						text-align: center;
					}
				}

				.image {
					width: 35%;
					// position: relative;
					z-index: 1;

					@include breakpoint(large up) {
						width: 38%;
					}
				}

				h2 {
					font-weight: 700;
					color: $color-isl-dkblue;
					margin-bottom: 0;

					@include breakpoint (medium down) {
						font-size: rem-calc(24);
						line-height: rem-calc(22);
					}

					@include breakpoint (large up) {
						font-size: rem-calc(33);
						line-height: rem-calc(34);
					}
				}

				p {
					padding: 10px 0 15px;
					line-height: 1.6;
					font-size: rem-calc(14);
					margin-bottom: 0;

					@include breakpoint (large up) {
						padding: 20px 0;
						font-size: rem-calc(18);
					}
				}

				.button {
					background: $color-isl-ltblue;
					position: absolute;
					bottom: rem-calc(40);
					font-size: 1rem;
					font-weight: 500;
					padding: rem-calc(16);
					white-space: nowrap;
					margin: 0;

					@include breakpoint(medium up) {
						position: relative;
						bottom: 0;
					}

					@include breakpoint(large up) {
						font-size: rem-calc(18);
						padding: rem-calc(24);
						margin-bottom: 0;
						margin-right: 0;
					}	
				}

				.button:hover {
					background: scale-color($color-isl-ltblue, $lightness: -15%);
				}

				img {
					position: absolute;
					width: auto;
					bottom: 0;
					height: rem-calc(190);

					@include breakpoint (medium up) {
						width: 35%;
						height: auto;
					}

					@include breakpoint (large up) {
						width: 40%;
						height: auto;
					}

					&.right {
						right: -15px;

						@include breakpoint(medium up) {
							right: 10px;
						}	
					}
					&.left {
						right: 0px;

						@include breakpoint(medium up) {
							left: 0px;
						}
					}
				}

				.quote {
					@include breakpoint (small only) {
						display: none;
					}
					 
					p {
						padding: 0;
						font-weight: 200;
						margin-bottom: 0;
						font-style: italic;

						@include breakpoint(large up) {
							padding-top: rem-calc(10);
							font-size: rem-calc(18);
							line-height: rem-calc(24);
						}	
					}

					span {
						font-size: rem-calc(12);
						margin-left: rem-calc(15);
					}
				}
			}
		}

		.slide:nth-of-type(3n+2) .arrow-up {
			margin: rem-calc(-20) 72% 0;
		}

		.slide:nth-of-type(3n+3) .arrow-up {
			margin: rem-calc(-20) 0 0 17%;
		}

		@include breakpoint(large up) { 
			.slide:nth-of-type(3n+2) .slide-panel {
				background: url(../images/slide-right.svg);
				background-repeat: no-repeat;
				background-position: top center;
			}

			.slide:nth-of-type(3n+3) .slide-panel {
				background: url(../images/slide-left.svg);
				background-repeat: no-repeat;
				background-position: top center;
			}
		}
	}

	.home-slick-slider.slick-initialized.slick-slider { display: block; }
}

#about {
	padding: rem-calc(40) 0 rem-calc(40);
	text-align: center;

	@include breakpoint(medium up) {
		padding: rem-calc(40) 0 rem-calc(100);
	}
	@include breakpoint(large up) {
		padding: rem-calc(208) 0 rem-calc(144);
	}

	.text-box {
		width: 90%;
		margin: 0 auto;
		display: block;
		line-height: 1.5;
		text-align: left;

		@include breakpoint (medium up) {
			font-size: rem-calc(18);
		}
		@include breakpoint (large up) {
			max-width: rem-calc(1024);
			-webkit-column-count: 2;
    		-moz-column-count: 2;
    		column-count: 2;
	    	-webkit-column-gap: 40px; 
	    	-moz-column-gap: 40px; 
	    	column-gap: 40px;

	    	h2 {
	    	    -webkit-column-span: all; /* Chrome, Safari, Opera */
    			column-span: all;
	    	}
		}

		h2 {
			font-weight: 700;
			font-size: rem-calc(30);
		}
	}
}

#home-hero-2 {
	background: lightskyblue;
	width: 100%;
	height: rem-calc(300);
	background-size: cover;
	background-position: center center;

	@include breakpoint(medium up) {
		height: rem-calc(600);
	}
}

.featured-quote {
	position: relative;
	margin-top: 0;

	@include breakpoint (medium up) {
		position: absolute;
		z-index: 99;
		width: 100%;
		margin-top: -100px;
	}

    h2 {
    	width: 100%;
	    padding: rem-calc(40) rem-calc(20);
	    margin: 0 auto;
	    display: block;
    	color: $color-isl-ltblue;
    	background: #fff;
	    font-weight: 200;
	    letter-spacing: -2px;
	    text-align: center;
	    font-style: italic;
	    font-size: rem-calc(34);
	    line-height: 1;

	    @include breakpoint(medium up) {
	    	width: 86.6666666%;
	    	border-radius: $global-radius;
		    font-size: rem-calc(40);
		    line-height: rem-calc(40);
	    }
	    @include breakpoint(large up) {
	    	width: 86.6666666%;
	    	border-radius: $global-radius;
		    font-size: rem-calc(54);
		    line-height: rem-calc(54);
	    }

	    span {
	    	display: block;
	    	line-height: 1;
	    	padding-top: rem-calc(20);
	    	font-size: rem-calc(20);

	    	// @include breakpoint (medium up) {
		    // 	font-size: rem-calc(20);
	    	// }
	    	font-style: normal;
	    }
    }
}

#featured-trips {
	position: relative;

		.title {
			position: absolute;
			top: -65px;
			z-index: 99;
			width: 100%;
			text-align: center;

			@include breakpoint (medium up) {
				top: -45px;
			}

		    h2 {
				display: inline-block;
				padding: rem-calc(20) rem-calc(30);
				margin: 0 auto;
				background: $color-isl-ltblue;
				color: #fff;
				font-weight: 500;
				text-align: center;
				font-style: italic;
				line-height: 1;

			    @include breakpoint(medium up) {
					border-radius: $global-radius;
			    	font-size: rem-calc(30);
			    	letter-spacing: -2px;
			    }

			    @include breakpoint(1331 up) {
			    	font-size: rem-calc(38);
			    }
		    }
		}

	.trip {
		background-size: cover;
		background-position: center center;

		@include aspect-ratio (4, 3);

		@include breakpoint (medium up) {
			@include aspect-ratio(1, 1);
		}
	
		.team {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: #fbfdfd;
			background: rgba(0, 0, 0, 0.45);
			width: 100%;
			text-align: center;
			padding-top: 25%;
			-webkit-transition:all 0.3s ease-in;  
  			-moz-transition:all 0.3s ease-in;  
  	 		-o-transition:all 0.3s ease-in;  
   			transition:all 0.3s ease-in;

   			@include breakpoint (medium up) {
   				padding-top: 40%;
   			}

			h3 {
				font-size: rem-calc(30);
				font-weight: 800;
				margin-bottom: 0;

				@include breakpoint (medium up) {
					font-size: rem-calc(40);
				}
			}

			h4 {
				font-size: rem-calc(18);
				font-weight: 300;
				font-style: italic;

				@include breakpoint (medium up) {
					font-size: rem-calc(24);
				}

				span {
					font-weight: 700;
					font-style: normal;
					font-size: rem-calc(20);
					}
			}
		}

		.team:hover {
			background: rgba(0, 0, 0, 0.25);
			}
	}
}

#internship-block {
	// This block utilizes the generic "feature-block" class. See above.
}

#key-message {
	background: #ffffff;
	padding: rem-calc(20) 0 0;
	position: relative;

	@include breakpoint (medium up) {padding-top: 0}
	.text-box {
		p {
			font-size: rem-calc(20);
			font-weight: 200;
			margin-bottom: rem-calc(20);
		}

		@include breakpoint(medium up) {
			padding: 40px 50px;
			font-size: rem-calc(30);

		}
		@include breakpoint(large up) {
			padding: 40px 90px 60px;

			p {
				font-size: rem-calc(30);
				line-height: 1.2;
				margin-bottom: rem-calc(30);

				&:last-child {margin-bottom: 0}
			}
		}

		b, strong {
			font-weight: 700;
		}
	}

	.button-container {
		@include breakpoint (large up) {
			position: relative;
		}
	}

	.button {
		position: relative;
		background: $color-isl-ltblue;
		font-weight: 500;
		margin: 0 auto;
		display: block;
		transform: none;
		margin-bottom: rem-calc(20);

		@include breakpoint (medium up) {margin-bottom: 0}

		@include breakpoint(large up) {
			@include xy-center;
			width: 100%;
			font-size: rem-calc(18);
			line-height: 1.4;
		}
	}

	.button:hover {
		background: scale-color($color-isl-ltblue, $lightness: -15%);
	}
}

#ratings {
	padding: rem-calc(40) 0;

	@include breakpoint(medium up) {
		padding: 85px 0;
	}
	.ratings-slider {
		.slide {
			@include breakpoint(medium up) {
				height: rem-calc(225);
			}
		}
		.rating {
			color: $color-isl-ltblue;
			font-weight: 800;
			text-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
			text-align: center;
			font-size: rem-calc(37);
			@include breakpoint(medium up) {
			font-size: rem-calc(67);
			}

			i {
				padding: 0 3px;
				font-size: rem-calc(30);
				@include breakpoint(medium up) {
				font-size: rem-calc(60);
				}
			}
		}

		img {
		margin: 0 auto;
		display: block;
		}

		.slick-dots {
		    display: block;
		    width: 100%;
		    padding: 0;
		    list-style: none;
		    text-align: center;
		}

		ul.slick-dots {
			margin: 0;
		}

		.slick-dots li {
		    position: relative;

		    display: inline-block;

		    width: 20px;
		    height: 20px;
		    margin: 0 5px;
		    padding: 0;

		    cursor: pointer;
		}
		
		.slick-dots li button {
		    font-size: 0;
		    line-height: 0;

		    display: block;

		    width: 20px;
		    height: 20px;
		    padding: 5px;

		    cursor: pointer;

		    color: transparent;
		    border: 0;
		    outline: none;
		    background: transparent;
		}

		.slick-dots li button:hover,
		.slick-dots li button:focus {
		    outline: none;
		}
		
		.slick-dots li button:hover:before,
		.slick-dots li button:focus:before {
		    opacity: 1;
		}

		.slick-dots li button:before {
		    font-family: 'slick';
		    font-size: 24px;
		    line-height: 20px;

		    position: absolute;
		    top: 0;
		    left: 0;

		    width: 20px;
		    height: 20px;

		    content: '•';
		    text-align: center;

		    opacity: .25;
		    color: #ffffff;

		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}

		.slick-dots li.slick-active button:before {
		    opacity: .75;
		    color: #ffffff;
		}
	}
}

#subscribe,
#rep-signup {
	background-size: cover; 
	background-position: center center;
	padding: rem-calc(20);
	text-align: center;

	@include breakpoint (medium up) {
		padding: rem-calc(40);
	}
	
	.form {
		overflow: hidden;
		position: relative;
		padding: 0 rem-calc(20) rem-calc(10);
		z-index: 99;

		@include breakpoint(large up) {
			padding: rem-calc(10) rem-calc(130) 0;
		}
	}
	h2 {
		@include home-h2;
	}

	h3 {
		@include home-h3;
	}

	.gform_body {
		width: 100%;

		// .gfield_label {display: none;}

		@include breakpoint(medium up) {
			width: 75%;
			float: left; 
		}

		.gfield_label {display: none}
		input {
			margin-bottom: 0;

			@include breakpoint (medium up) {
				height: rem-calc(78);
				font-size: rem-calc(28);
				font-weight: bold;
			}
		}
	}

	.gform_footer {
		width: 100%;
		@include breakpoint(medium up) {
		width: 25%;
		float: right;
	}

		[type='submit'], [type='button'] {
			width: 100%;
			border-radius: 3px;
			font-weight: bold;
			height: rem-calc(39);
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
			text-align: center;

			@include breakpoint (medium up) {
				margin-top: rem-calc(8);
				height: rem-calc(78);
				font-size: rem-calc(28);
			}

			@include breakpoint (large up) {

			}
		}
	}

	.gform_wrapper .gform_footer {
		clear: none;
		padding: 0;
		//margin: 0;
	}

	// .gform_wrapper .top_label li.gfield.gf_left_half,
	// .gform_wrapper .top_label li.gfield.gf_right_half,
	// .gform_wrapper .top_label li.gfield.gf_left_half input.large, 
	// .gform_wrapper .top_label li.gfield.gf_left_half input.medium, 
	// .gform_wrapper .top_label li.gfield.gf_left_half select.large, 
	// .gform_wrapper .top_label li.gfield.gf_left_half select.medium, 
	// .gform_wrapper .top_label li.gfield.gf_right_half input.large, 
	// .gform_wrapper .top_label li.gfield.gf_right_half input.medium, 
	// .gform_wrapper .top_label li.gfield.gf_right_half select.large, 
	// .gform_wrapper .top_label li.gfield.gf_right_half select.medium {
	// 	@include breakpoint(small only) {
	// 		width: 100%;
	// 		max-height: rem-calc(45);
	// 	}

	// 	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	// 		margin: 0;
	// 	}
	// }

}

#subscribe {
	input[type=text] {
	color: #aaaaaa;
	padding: rem-calc(10);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
    border: 0;
	}
	
	::-webkit-input-placeholder {
	color: #808080;
	}
	:-moz-placeholder {
	color: #808080;
	}
	::-moz-placeholder {
	color: #808080;
	}
	:-ms-input-placeholder { 
		color: #808080;
	}
}

#rep-signup {
	position: relative;
    padding-top: rem-calc(120);
	background-position: center -128px;
    background-size: 250% auto;
    background-repeat: no-repeat;

	@include breakpoint (medium up) {
		background-position: center rem-calc(-168);
		background-size: 155% auto;
		padding-top: rem-calc(200); 		
	}
	@include breakpoint (large up) {
		background-position: center;
		background-size: cover;
		padding-top: rem-calc(200); 		
	}

	h2 {
		@include home-h2;
		color: #fff;
	}
	
	h4 {
		@include home-h4;
		color: #fff;
	}
	p {color: #fff;}

	input[type=text] {
		background: rgba(0, 174, 239, 0.7);
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
	    border: 0;
		color: #fff;
		padding: rem-calc(10);
		}
	

	::-webkit-input-placeholder {
	color: #fff;
	}
	:-moz-placeholder {
	color: #fff;
	}
	::-moz-placeholder {
	color: #fff;
	}
	:-ms-input-placeholder { 
		color: #fff;
	}

	.overlay {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 98;

		@include breakpoint(medium up) {
			//display: none;
		}
	}
	
}

#blog-feed {
	text-align: center;
	background: #ffffff;
	padding: rem-calc(40) 0;

	@include breakpoint(medium up) {
		padding: rem-calc(70) 0;
	}

	.row {
		text-align: left;
	}

	.large-6 {
		@include breakpoint (small only) {
			margin-bottom: 40px;

			&:last-child {margin-bottom: 0}
		}
	}

	.featured-image {
		background-size: cover;
		background-position: center;
		margin-bottom: 10px;

		&.present {
			@include aspect-ratio(11,6);	
		}
	}

	h3 {
		font-weight: 700;
		color: #000;
		@include breakpoint(medium up) {
			font-size: rem-calc(30);
			line-height: rem-calc(30);
		}

		a {
		color: #000;
		}
	}

	span {
	color: #aaaaaa;
	font-size: rem-calc(12);
	line-height: 3;
	}

	.button {
		font-weight: 700;
		display: inline-block;
		margin: rem-calc(40) 0 0;
		background: $color-isl-ltblue;

		@include breakpoint(medium up) {
			font-size: rem-calc(20);
		}
	}

	.button:hover {
		background: scale-color($color-isl-ltblue, $lightness: -15%);
	}
}

.quote-slider {
	background: #ffffff;
	padding: 0 0 rem-calc(40);
	// padding: rem-calc(40) rem-calc(20);

	@include breakpoint (medium up) {
		padding: rem-calc(75) 0;
	}

	.slick-list {
	padding: 0 20px;
	}

	button.slick-prev {
		position: absolute;
		top: 50%;	
		left: 5%;
		margin-top: -12px;
		color: rgba(0, 0, 0, 0.75);
		font-size: rem-calc(24);	
	}

	button.slick-prev:hover {
	color: #000;
	}

	button.slick-next {
		position: absolute;
		top: 50%;
		right: 5%;
		margin-top: -12px;
		color: rgba(0, 0, 0, 0.75);
		font-size: rem-calc(24);
	}

	button.slick-next:hover {
		color: #000;
	}
	
	.slide {
		background-size: cover;
		background-position: center;
		
		@include aspect-ratio(16, 19);
		// width: 400px;

		@include breakpoint (medium up) {
			max-width: rem-calc(385);
			max-height: rem-calc(457);
			margin: 20px;
		}
		
		.quote {
			position: absolute;
			bottom: 0;
			padding: rem-calc(20);

			p {
				color: #ffffff;
				font-style: italic;
				font-size: rem-calc(18);
				line-height: rem-calc(20);
				}

			span {
				font-size: rem-calc(14);
				font-style: normal;
				font-weight: 700;
				color: #ffffff;
				}
		}
		
		.overlay {
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 20px;
			}
	}

	.slick-dots {
	    display: block;
	    width: 100%;
	    padding: 0;
	    list-style: none;
	    text-align: center;
	}

	ul.slick-dots {
		margin: 0;
	}

	.slick-dots li {
	    position: relative;

	    display: inline-block;

	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    padding: 0;

	    cursor: pointer;
	}
	
	.slick-dots li button {
	    font-size: 0;
	    line-height: 0;

	    display: block;

	    width: 20px;
	    height: 20px;
	    padding: 5px;

	    cursor: pointer;

	    color: transparent;
	    border: 0;
	    outline: none;
	    background: transparent;
	}

	.slick-dots li button:hover,
	.slick-dots li button:focus {
	    outline: none;
	}
	
	.slick-dots li button:hover:before,
	.slick-dots li button:focus:before {
	    opacity: 1;
	}

	.slick-dots li button:before {
	    font-family: 'slick';
	    font-size: rem-calc(40);
	    line-height: 1;

	    position: absolute;
	    top: 0;
	    left: 0;

	    width: 20px;
	    height: 20px;

	    content: '•';
	    text-align: center;

	    opacity: .25;
	    color: black;

	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

	.slick-dots li.slick-active button:before {
	    opacity: .75;
	    color: black;
	}
}

.featured-block {
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	text-align: center;

	@include breakpoint (medium up) {
		height: rem-calc(550);
	}

	.button {
		display: inline-block;
		font-weight: 700;
		position: relative;
		top: 50%;
		margin: 55px 0 0 0;

		@include breakpoint (medium up) {
			font-size: rem-calc(28);
			margin: 80px 0 0 0;
		}

		&.hollow {
			border: 5px solid #fff;
			color: #fff;
		}

		&.hollow:hover {
			background: rgba(241, 90, 43, 0.75);
		}
	}
}