/************************************************

Stylesheet: Main Stylesheet

*************************************************/

body {
	//background: $color-isl-dkteal;
}

.body-wrapper {
	background-image: url('../images/bg-tile.jpg');
}

#main-wrapper {
	width: 100%;
	background: $white;
	max-width: rem-calc(1440);
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

/*********************
GENERAL STYLES
*********************/

.teal {
	background: $color-isl-teal;
	color: #fff;
}

.teal-outline {
	border: 1px solid $color-isl-teal;
}

.dkteal {
	background: $color-isl-dkteal;
	color: #fff;
}

.dkteal-outline {
	border: 1px solid $color-isl-dkteal;
}

.dkblue {
	background: $color-isl-dkblue;
	color: #fff;
}

.dkblue-outline {
	border: 1px solid $color-isl-dkblue;
}

.ltblue {
	background: $color-isl-ltblue;
	color: #fff;
}

.ltblue-outline {
	border: 1px solid $color-isl-ltblue;
}

.orange {
	background: $color-isl-orange;
	color: #fff;
}

.orange-outline {
	border: 1px solid $color-isl-orange;
}

.white {
	background: #fff;
	color: $color-isl-dkblue;
}

.panel {
	border-radius: $global-radius;
	padding: rem-calc(10);
	margin: rem-calc(20) 0;
}

    span.completed {
    	color: $success-color;
    }

    span.incomplete {
    	color: $warning-color;
    }

[type='submit'] {
	display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.85em 1.3em;
    margin: 0 1rem 1rem 0;
    font-size: 0.9rem;
    background-color: #f15a2b;
    color: #ffffff;
}

.ui-datepicker {
	padding: 0 !important;
	border: 0 !important;
}

table {
	border-collapse: inherit;

	&#passport {
		margin-top: rem-calc(20);

		&.form-table {
			border: 0px solid;

			tbody {
				
					td {
						padding: 0 rem-calc(10) rem-calc(20) 0 !important;
						font-size: rem-calc(14);

						input {
							margin: 0;
						}
					}

			}

			.image_upload {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			.image_upload + label {
			    font-size: 0.9em;
			    color: white;
			    background-color: $color-isl-orange;
			    display: inline-block;
			    padding: 0.85em;
			    border-radius: $global-radius;
			}

			.image_upload:focus + label,
			.image_upload + label:hover {
			    background-color: #e2410f;
			}

			.image_upload + label {
				cursor: pointer; /* "hand" cursor */
			}
		}
	}
}

tbody,
tfoot,
thead {
	border: none !important;
}


/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

button:focus, .button:focus {
	outline: 0;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-weight: bold;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	position: relative;
	background: $white;
	padding: $grid-column-gutter / 1 0;
	@include breakpoint (medium up) {
		padding: $grid-column-gutter * 2 0;
		}
	#inner-content {
		padding: 0 $grid-column-gutter / 4;
		@include breakpoint (medium up) {
		padding: 0 $grid-column-gutter;
		}
	}

	#staff {
		padding: $grid-column-gutter / 2;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

blockquote,
blockquote p {
	color: $color-isl-ltblue;
	font-weight: 300;
	font-style: italic;
	@include breakpoint (medium up) {
		font-size: rem-calc(20);
		line-height: rem-calc(22);
	}
}

blockquote {
	//margin: rem-calc(40) 0;
	border-left: 0;
}

figure {
	margin: 0;
}

/*********************
FLEX CONTENT STYLES
*********************/

.content-block {
	padding-top: $grid-column-gutter / 2;
	padding-bottom: 0;
	
	// Rich Text
	&.rich-text {
		padding-left: $grid-column-gutter / 4;
		padding-right: $grid-column-gutter / 4;
		@include breakpoint (medium up) {
		padding-left: $grid-column-gutter;
		padding-right: $grid-column-gutter;
		}

		ul {
			margin-left: rem-calc(40);
		}

		h3, h4 {
			margin-top: rem-calc(30);
		}

		h3:first-of-type {
			margin-top: 0;
		}
	}

	// Blockquote & Testimonials
	&.quote {
		padding-left: $grid-column-gutter / 4;
		padding-right: $grid-column-gutter / 4;
		@include breakpoint (medium up) {
			padding-left: $grid-column-gutter / 2;
			padding-right: $grid-column-gutter / 2;
		}

		.pull-quote {
			&.large,
			&.large p {
				font-size: rem-calc(24);
				line-height: rem-calc(40);
				font-weight: 200;
				@include breakpoint (medium up) {
				font-size: rem-calc(40);
				line-height: rem-calc(52);
				}
				
			}

			&.medium,
			&.medium p {
				font-size: rem-calc(18);
				line-height: rem-calc(30);
				font-weight: 200;
				@include breakpoint (medium up) {
				font-size: rem-calc(30);
				line-height: rem-calc(42);
				color: $color-isl-teal;
				}
			}

			&.small,
			&.small p {
				font-weight: 200;
				@include breakpoint (medium up) {
				font-size: rem-calc(24);
				line-height: rem-calc(36);
				color: $color-isl-orange;
				}
			}

			span {
				&.source {
					color: $color-isl-dkblue;
					font-weight: 300;
					font-size: rem-calc(14);
					@include breakpoint(large1 up) {
						padding-left: 60%;
					}
				}
			}
		}
	}

	// GALLERY
    &.gallery {
    	padding-left: $grid-column-gutter / 4;
		padding-right: $grid-column-gutter / 4;
		@include breakpoint (medium up) {
			padding-left: $grid-column-gutter;
			padding-right: $grid-column-gutter;
		}

		img {
			width: 48%;
			margin-right: 1%;
			margin-left: 1%;
        	margin-bottom: 2%;
        	@include breakpoint (large up) {
        		width: 19.5%;
        		margin-right: 0.5%;
        		margin-left: 0;
        		margin-bottom: 0.5%;
        	}
        }
    }
}

figure {
	&.content-block {

		&.image {

	    	&.shift-left {
	    		width: 50%;
	    		float: left;
	    		margin: rem-calc(30) rem-calc(30) rem-calc(20) 0;
	    		img {
	    			width: 100%;
	    		}
	    	}

	    	&.shift-right {
	    		width: 50%;
	    		float: right;
	    		margin: rem-calc(30) 0 rem-calc(20) rem-calc(30);
	    		img {
	    			width: 100%;
	    		}

	    	}

	    	&.centered-column-width {
	    		padding-left: $grid-column-gutter / 4;
				padding-right: $grid-column-gutter / 4;
				@include breakpoint (medium up) {
					padding-left: $grid-column-gutter;
					padding-right: $grid-column-gutter;
				}

				img {
					width: 100%;
				}
	    	}

	    	&.centered-full-width {
	    		img {
	    			width: 100%;
	    		}
	    	}
    	}
	}
}

.content-block:last-of-type {
	padding-bottom: $grid-column-gutter / 2;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;

}
	
/*********************
FOUNDATION STYLES
*********************/


/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

.wppb-form-field label, #wppb-login-wrap .login-username label, #wppb-login-wrap .login-password label {
	width: 100% !important;
}

#post-109 {
	table {
		width: 100%;
		margin: 0 auto;
		@include breakpoint(large up) {
			width: 70%;
		}
	}
}

#gform_confirmation_message_1 {
	padding-top: rem-calc(96);
}

ul.acf-checkbox-list {
	column-count: 3;
}

.acf-hl > li {
	float: none;
}


.acf-field { 
	input[type="text"], 
	input[type="password"], 
	input[type="number"], 
	input[type="search"], 
	input[type="email"], 
	input[type="url"], 
	textarea, 
	select {
		height: rem-calc(40);
		font-size: rem-calc(16);
		color: #222222;
	}
}

.acf-field .acf-label label {	
	font-size: rem-calc(15) !important;
}

/*********************
Modal Styles
*********************/
.modal--fade .modal-content, .modal--show .modal-content {
  padding: 1.5625rem; 
}

.modal--fade .modal-inner, .modal--show .modal-inner {
  top: 25%; 
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
  top: 25%; 
}

.modal--fade footer, .modal--show footer {
  padding: 0.625rem 1.25rem;
  background: #00a79d;
  color: #fff; 
}

.modal--fade footer a, .modal--show footer a {
    font-weight: 700; 
}

#ui-datepicker-div[style] {
	z-index: 9999 !important;
}

/*********************
404 Styles
*********************/
.page-404 {
  background: #00aedf;
  padding: 110px 0 0;
  color: #fff;
  font-weight: 300; 

  label {
  	color: #fff;
  	font-weight: 300;
  }
}

/*********************
ACF
*********************/
#content {
	.acf-fields > .acf-field {
		padding: 15px 0;
	}
}
