#alert {
    background: $color-isl-ltblue;
    color: $white;
    padding: rem-calc(5) rem-calc(40) rem-calc(5) rem-calc(20);
    font-weight: bold;
    @include breakpoint(large up) {
    font-size: rem-calc(18);
    }

    a {
        color: $color-isl-yellow;
    }


    &.callout {
        margin: 0;
        border-radius: 0;
        @include breakpoint (small only) {
            margin-top: rem-calc(55);
        }
    }

    .close-button {
        color: $white;
        top: 0;
        font-weight: normal;
        font-size: 1.8em;
    }
}

#masthead {
    background: #ffffff;
    max-width: rem-calc(1440);
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 9999;
    transition: all 200ms ease-in-out;

    #top-bar-menu {
        @include breakpoint (small only) {
            
        }

        left: 0;
        right: 0;
        }

    .top-bar-left { width: auto; }

    #logo {
        width: rem-calc(220);
        margin: rem-calc(30) auto 0;

        @include breakpoint(medium up) {
            float: none;
            margin: 5px auto 0;
            display: block;
            width: 275px;
        }

        img {
            width: 100%;
        }
    }

    @include breakpoint(medium up) {
        background: url(../images/header-bg.png);
        min-height: 120px;
        background-repeat: no-repeat;
        background-position: center top;
    }
    @include breakpoint (small only) {
        max-width: rem-calc(1440);
        margin: 0 auto;
        display: block;
        position: fixed;
        z-index: 9999;

        #logo {
            position: absolute;
            margin: 0;
            top: 0;
            width: 100%;
            overflow: hidden;

            img {
                width: rem-calc(165);
                margin: 0 auto;
                display: block;
                }
        }
    }
}

/* Home Page Masthead Styles */
.home {
    @include breakpoint (small only) {
        #alert {
            &.callout {
                margin-top: 0;
            }
        }

        #masthead {
            background: transparent;
            max-width: rem-calc(1440);
            margin: 0 auto;
            display: block;
            position: absolute;
            z-index: 9999;

            #logo {
                position: absolute;
                margin: 0;
                top: 0;
                width: 100%;
                overflow: hidden;

                img {
                    width: rem-calc(220);
                    margin: rem-calc(30) auto 0;
                    display: block;
                    }
            }

            &.stuck {
                position: fixed !important;
                top: 0;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

                #logo {
                    position: absolute;
                    margin: 0;
                    top: 0;
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: rem-calc(165);
                        margin: 0 auto;
                        display: block;
                        }
                }
            }
        }

        #alert {
            margin-top: 0;
        }
    }
}

#masthead {
    @include breakpoint (small only) {
    &.stuck {
        position: fixed !important;
        top: 0;
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    }
    }
}

