.top-bar {

    ul, a {
        font-weight: $font-weight-bold;
        transition: none;
    }

    ul {
        margin-top: -1px;
    }

    .nav-left {
        display: none;
        padding-left: rem-calc(10);
        float: left;

        @include breakpoint(1250 down) { 
            padding-left: rem-calc(10);
        }

        @include breakpoint (large up) {
            display: inline-block;
        } 
    }

    .nav-right {
        display: none;
        position: absolute;
        right: rem-calc(10);
        float: right;
        top: 0;

        @include breakpoint(1250 down) { 
            right: rem-calc(10);
        }

        @include breakpoint (large up) {
            display: inline-block;
        }

        .search {
            float: right;
        }

        .button {
            background: transparent;
            color: $color-isl-ltblue;
            display: inline;
            margin-right: 0;
            padding: 17px 9px;
            border-radius: 0;
        }

        .button:hover {
            background: $color-isl-dkblue;
            color: #fff;
        }

        .phone {
            @include breakpoint(1127 down) {
                display: none;
            }
        }
    }

    .menu {
        display: inline-block;
        @include breakpoint (medium up) {
        height: 56px;
        }
        

        > li {
            display: inline-block;

            > a {
                padding: 20px 15px;
                font-size: rem-calc(16);
                font-weight: $font-weight-bold;

                @include breakpoint (1130 up) {
                        padding: 20px 10px;
                }

                    @include breakpoint(large down) {
                        & > a {
                            padding: 15px 0 0 !important;
                        }
                    }

                span {
                    border-radius: $global-radius;
                    font-size: rem-calc(14);

                    i.fa-shopping-cart {
                        @include breakpoint(1251 up) {
                            font-size: 17px;
                        }
                    }
                }

                span#cart_items {
                padding: 0;
                margin-left: rem-calc(4);
                }
            }
            &.active > a {
                background-color: transparent;
                color: $color-isl-orange;
            }
            &:hover > a,
            &.focus > a {
                background-color: $color-isl-dkblue;
                color: $white;
                @include breakpoint(medium down) {
                    background-color: transparent;
                    color: $color-isl-dkblue;
                    box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);
                }
            }
        }

    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            font-size: rem-calc(22);
            font-weight: 400;
            background-color: $color-isl-dkblue;
            float: left;
            position: absolute;
            top: 53px;
            left: -999em;
            z-index: 99999;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

            ul {
                left: -999em;
                top: 0;

                    li {
                        &:hover > ul,
                        &.focus > ul {left: 100%;}
                    }
                }

            li {
                &:hover > ul,
                &.focus > ul {left: 100%;}
            }
        }

        @include breakpoint (large up) {
            li:hover > ul,
            li.focus > ul {
                left: auto;
                width: 210px;
            }
        }
    }

    li {
        display: block;
        position: relative;

        &:hover > a,
        &.focus > a,
        &.active > a {
            background-color: $color-isl-orange;
            color: $white;
        }

        &.button {
        padding: 0;

            &:hover > a {
            background-color: darken($color-isl-orange, 10%);
            color: $white;
            }
        }
    }

    a {
        color: $color-isl-ltblue;
        font-size: 1rem;
        line-height: 1;
        padding: rem-calc(12) rem-calc(14);
        display: block;
        text-decoration: none;
        white-space: nowrap;
        @include breakpoint(1200 down) { 
            padding: 8px 10px;
            font-size: rem-calc(14);
        }
    }

    .page-preview-container {display: none;}

    .sub-menu li {
        &.menu-item-has-children:before {
            display: block;
            position: absolute;
            right: rem-calc(10);
            top: 50%;
            margin-top: -(rem-calc(9));
            font-family: 'FontAwesome';
            font-size: rem-calc(18);
            line-height: 1;
            color: $color-isl-ltblue;
            content: '\f105';
            }

            &:hover > a,
            &.focus > a,
            &.active > a {
            background-color: $white;
            color: $color-isl-dkblue;
            }
            
            &.active:before {color: $color-isl-ltblue;}

            &:hover, &.focus {
                &.menu-item-has-children:before {color: $color-isl-ltblue;}

                @include breakpoint (large up) {
                    > .page-preview-container,
                    > .page-preview-container {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 100%;
                        width: 487px;
                        background-color: #fff;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
                        padding: 0;

                        .thumbnail-link,
                        .title-link {padding:0;}
                        .menu-thumbnail {
                            width: 100%;
                            height: 200px;
                            padding: 0;
                            margin: 0 0 rem-calc(20);
                        }

                        .title {
                            font-size: rem-calc(24);
                            color: $color-isl-ltblue;
                            line-height: 1;
                            margin: 0 0 rem-calc(10);
                            padding: 0 20px;
                        }

                        .excerpt {
                            font-family: $body-font-family;
                            color: $color-isl-dkblue;
                            font-size: rem-calc(12);
                            letter-spacing: 0;
                            padding: 0 20px;

                            p {
                                margin-bottom: 0;
                            }
                        }

                        .button-wrap {
                            text-align:right;
                            height: rem-calc(25);
                            padding-right: rem-calc(20);
                        }
                        .button {
                            background: $color-isl-orange;
                            color: $white;
                            display: inline-block;
                            margin-bottom:0;
                            width: auto;
                            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.65);
                        }
                    }
                }
            }
        a {
        color: $white;
        }
    }

    .sub-menu li:nth-child(-n+6) > .page-preview-container {
        top: 0;
        bottom: auto;
        }
}

#nav-panel {
    display: none;
    padding: 10px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: $global-radius !important;
    border-bottom-right-radius: $global-radius !important;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    background: $color-isl-dkblue;
    color: $white;


    &.dropdown-pane {
        border: 0 !important;
        }

        ul#info {
            list-style: none;
                li {
                    // padding-right: rem-calc(10);
                    
                }
                a {
                    padding-left: 0;
                    font-weight: 700;
                    color: $white;
                }

                a:hover {
                    color: $color-isl-orange;
                }

                ul {
                    list-style: none;
                    margin-left: 0;
                    left: 0;
                    li {
                    line-height: 1;
                    padding-bottom: rem-calc(5);
                    }
                    a {
                        font-weight: 300;
                        line-height: rem-calc(12);
                        letter-spacing: -0.5px;
                        font-size: .8rem;
                    }
                }
        }

    .menu > li {
        vertical-align: top;
        display: table-cell;
    }

    .menu {
        .menu-item-has-children {
            padding: 0 rem-calc(7);
        }
    }
}

#nav-panel[style] {
        @include breakpoint (1128 down) {
            right: 10px !important;
            left: 65% !important;
            //width: 300px;   
        }
}

.top-bar-right {
    @include breakpoint(medium down) {
        width: auto;
        float: right;
    }

    menu > li:hover > a {
        background: #ffffff;
        box-shadow: 0 0 0;
    }

    a {
        position: relative;
        right: 10px;
        margin-top: rem-calc(2);
        @include breakpoint(medium only) {
        margin-top: 0px;
        }

    }

    a:hover {
        color: $color-isl-dkblue;
    }
}

////////////////////////////////
// Off Canvas Navigation
#off-canvas {
    a {
        color: #ffffff;
    }

    li.menu-item-has-children {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

}

.is-accordion-submenu-parent > a::after {
    border-color: #ffffff transparent transparent;
}


.off-canvas {
    background: $color-isl-dkblue;
}

.off-canvas-wrapper {
    background: $color-isl-dkblue;
} 

.top-bar-left {
    position: relative;
    z-index: 999;
}