/*********************
Country/Program Page
*********************/
.page-template-default {
	@include breakpoint (small only) {
		#main {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

a.button.mobile-anchor {
	position: absolute;
	margin: 0;
	z-index: 999;
	right: 10px;
	top: 15px;

	@include breakpoint (medium up) {
		display: none;
	}
}

.country,
.program {
	h2 {
		@include breakpoint(small only) {
			width: 80%;
		}
	}
}

.parent {
	margin-bottom: rem-calc(20);
	position: relative;

	@include breakpoint(medium up) {
		margin-bottom: rem-calc(40);
	}

	@include breakpoint (small only) {
		&:first-child {
			margin-top: rem-calc(12);
		}
	}

	a {
		p { color: $body-font-color; }
	}

	h2 {
		color: #fff;
		background: $color-isl-ltblue;
		padding: 0.625rem;
		position: relative;
		z-index: 999;
		margin-bottom: 0;
		transition: all 160ms ease-out;

		@include breakpoint(medium up) {
			font-weight: 400;
			padding: rem-calc(10) rem-calc(16);
			border-radius: 3px;
			display: inline-block;
			position: absolute;
			top: rem-calc(20);
			left: rem-calc(4);
			z-index: 999;
			font-size: rem-calc(22);
		}
		@include breakpoint(large up) {
			font-size: rem-calc(28);
		}
	}

	.thumb {
		background-size: cover;
		@include aspect-ratio(16, 9);
		width: 100%;
		margin-bottom: rem-calc(10);
		margin-top: 0;
		overflow: hidden;
		border-radius: 3px;
		transition: all 160ms ease-out;

		.button {width: rem-calc(80)}
	}

	&:hover {
		h2 {
			background: $color-isl-orange;
			left: rem-calc(8);
			}
		.thumb {
			opacity: 0.8;
			}
		h2, .thumb {
			box-shadow: 0 0 14px rgba(0,0,0,0.6);
			}
	}
}

#team-sidebar {
	padding-top: rem-calc(20);
	padding-left: rem-calc(10);
	padding-right: rem-calc(10);
	padding-bottom: rem-calc(10);
	
	@include breakpoint(medium up) {
		padding-left: rem-calc(0);
		padding-right: rem-calc(40);
	}
	@include breakpoint(large up) {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
	}

	h3 {
		text-transform: uppercase;
		font-size: rem-calc(20);
		color: $color-isl-ltblue;
	}

	.team-feed {
		color: #fff;
		border-radius: rem-calc(3);

		.team {
			padding: rem-calc(20);
			position: relative;
			background: $color-isl-ltblue;
			margin: rem-calc(15) 0;
			border-radius: 3px;

			h5 {
				font-size: rem-calc(20);
				font-weight: 700;
				text-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
				width: 70%;
				margin-bottom: rem-calc(10);

				span {
					font-size: rem-calc(14);
					position: absolute;
					right: rem-calc(20);
					top: rem-calc(15);
					margin-top: rem-calc(10);
				}

				&.sold-out {
					width: 100%;
					text-align: center;
				}
			}

			.description {
				margin-bottom: rem-calc(20);
				font-size: rem-calc(14);
				line-height: 1.1;
				color: #fff;
				font-weight: 400;

				@include breakpoint (medium up) {
					font-size: rem-calc(12);
				}
			}

			.dates {
				width: 50%;
				float: left;
				margin-bottom: rem-calc(20);

				@include breakpoint (1150 down) {
					margin: 0 auto rem-calc(20);
					display: block;
					float: none;
					overflow: hidden;
				}

				@include breakpoint (medium only) {
					width: 100%;
				}

				.date {
					color: #000;
					background: rgba(255, 255, 255, 0.66);
					border-radius: rem-calc(3);
					padding: rem-calc(5);
					text-align: center;
					position: relative;
					width: 35%;
					float: left;
					line-height: 1;
					margin: 0;

					@include breakpoint (1150 down) {
						width: 40%;
					}

					span.month {
						font-size: rem-calc(16);
						font-weight: 400;
					}

					span.day {
						font-size: rem-calc(30);
						font-weight: 700;
					}

					span.year {
						font-size: rem-calc(12);
					}
				}

				div {
					width: 10%;
					float: left;
					margin: rem-calc(25) rem-calc(5) 0;
					color: #000;
				}
			}

			.details {
				width: 50%;
				float: left;

				@include breakpoint (1150 down) {
					width: 100%;
				}

				.button {
					font-size: rem-calc(14);
					font-weight: 700;
					color: $color-isl-orange;
					background: #fff;
					padding: 0.5rem;
					border-radius: rem-calc(3);
					width: 100%;
					margin-bottom: rem-calc(10);
				}

				.button:hover {
					background: $color-isl-orange;
					color: #fff;
				}

				.count {
					font-size: rem-calc(10);
					font-style: italic;

					span {
						font-weight: 700;
					}
				}
			}

			.share {
				font-size: rem-calc(14);
				clear: both;

				a {
					color: #ffffff;
				}

				i {
					margin: 0 rem-calc(5);
				}
			}
		}

		hr {
			margin: 0;
		}
	}

	.no-teams {
		text-align: center;
		p {
			text-align: left;
		}
		.button {
			margin-bottom: rem-calc(30);
		}
	}
}

.internship {
	background: $color-isl-ltblue;
	color: #ffffff;
	margin-bottom: 20px;
	border-radius: $global-radius;

	.text {
		padding: rem-calc(15) rem-calc(15) 0;

		h3 {
			color: #ffffff;
			font-style: italic;
			font-size: rem-calc(20);
		}

		p {
			font-size: rem-calc(14);
			line-height: rem-calc(15);
		}
	}

	.thumb {
	@include aspect-ratio(16, 7);
	width: 100%;
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	}
}

#internship-filters {
	select {
		width: 48%;
		float: left;

		&#country_filter {
			margin-right: 2%;
		}
	}
}

#staff {

	h2 {
		padding: 0 1.25rem;
		text-align: left;
	}

	p {
		padding: 0 1.25rem;
		margin-bottom: rem-calc(30);
	}

	.staff-profile {
		text-align: center;
		background: #fafafa;
		border-radius: 5px;
		padding: rem-calc(15);
		margin-bottom: rem-calc(40);

		.avatar {
			height: rem-calc(150);
			width: rem-calc(150);
			margin: 0 auto rem-calc(20) auto;
			display: block;
			border-radius: 50%;
		}
	}


}