/*********************
Country/Program Page
*********************/

.parent {
	margin-bottom: rem-calc(20);
	@include breakpoint(medium up) {
		margin-bottom: rem-calc(40);
	}

	h2 {
		color: #fff;
		font-weight: 300;
		font-style: italic;
		background: $color-isl-ltblue;
		padding: rem-calc(10);
		border-radius: $global-radius;
		margin-left: rem-calc(20);
		display: inline-block;
		position: relative;
		z-index: 999;
		@include breakpoint(medium up) {
		font-size: 1.75rem;
		}
	}

	.thumb {
		@include aspect-ratio(16, 9);
		width: 100%;
		margin-top: rem-calc(-40);
		margin-bottom: rem-calc(20);
	}
}

#team-sidebar {
	padding-top: rem-calc(20);
	padding-left: rem-calc(10);
	padding-right: rem-calc(10);
	
	@include breakpoint(medium up) {
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
	}

	.team-feed {
		background: $color-isl-ltblue;
		color: #fff;
		border-radius: rem-calc(3);

		.team {
			padding: rem-calc(20);

			h5 {
				font-size: rem-calc(20);
				font-weight: 700;
				text-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);

				span {
					font-size: rem-calc(14);
					float: right;
					margin-top: rem-calc(10);
				}
			}

			.description {
				margin-bottom: rem-calc(20);
				font-size: rem-calc(10);
				line-height: rem-calc(12) !important;
				color: #fff !important;
				font-weight: 400;
				font-style: italic;
			}

			.dates {
				width: 50%;
				float: left;
				margin-bottom: rem-calc(20);
				@include breakpoint (1150 down) {
					margin: 0 auto rem-calc(20);
					display: block;
					float: none;
					overflow: hidden;
				}

				@include breakpoint (medium only) {
					width: 100%;
				}

				.date {
					color: #000;
					background: rgba(255, 255, 255, 0.66);
					border-radius: rem-calc(3);
					padding: rem-calc(5);
					text-align: center;
					position: relative;
					width: 30%;
					float: left;
					line-height: 1;
					margin: 0;

					@include breakpoint (1150 down) {
						width: 40%;
					}

					span.month {
						font-size: rem-calc(16);
						font-weight: 400;
					}

					span.day {
						font-size: rem-calc(30);
						font-weight: 700;
					}

					span.year {
						font-size: rem-calc(12);
					}
				}

				div {
					width: 10%;
					float: left;
					margin: rem-calc(25) rem-calc(5) 0;
					color: #000;
				}
			}

			.details {
				width: 50%;
				float: left;

				@include breakpoint (1150 down) {
					width: 100%;
				}

				.button {
					font-size: rem-calc(14);
					font-weight: 700;
					color: $color-isl-orange;
					background: #fff;
					padding: 0.5rem;
					border-radius: rem-calc(3);
					width: 100%;
					margin-bottom: rem-calc(10);
				}

				.button:hover {
					background: $color-isl-orange;
					color: #fff;
				}

				.count {
					font-size: rem-calc(10);
					font-style: italic;

					span {
						font-weight: 700;
					}
				}
			}

			.share {
				font-size: rem-calc(14);
				clear: both;

				i {
					margin: 0 rem-calc(5);
				}
			}
		}

		hr {
			margin: 0;
		}
	}
}



/*********************
Team Page
*********************/

#team {
	.entry-header {
		position: relative;
		top: 42%;
		text-align: center;
	}

	.details {
		padding: rem-calc(20) 0;
	}

	.section {
		padding: rem-calc(50) 0 0;

		.button {
			float: right;
		}
	}

	.button {
		display: inline-block;

		&.hollow {
			border-style: solid;
			border-width: 2px;
			border-radius: 3px;
			font-weight: 500;
		}
	}
}


/*********************
Blog Page
*********************/

.short-banner {
	position: relative;
	height: rem-calc(300);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	top: rem-calc(35);

	.entry-header {
		position: relative;
		top: 50%;
		text-align: center;

		h1 {
			font-weight: $font-weight-black;
			color: $color-isl-ltblue;
			text-shadow: 0 0 12px rgba(0, 0, 0, 0.55);
			text-align: center;
			text-transform: uppercase;
		}

		h2 {
			font-weight: $font-weight-bold;
			color: #fff;
			text-shadow: 0 0 14px rgba(0, 0, 0, 0.55);
			text-align: center;
			font-style: italic;
			text-transform: uppercase;
		}
	}
}

#blog {
	.featured-image {
		@include aspect-ratio(11,6);
		margin-bottom: 10px;
	}

	h3 {
		font-weight: 700;
		color: #000;

		@include breakpoint (medium up) {
			font-size: rem-calc(30);
			line-height: rem-calc(30);
		}

		a {
			color: #000;
		}
	}

	h5 {
		font-weight: 700;
		color: #000;
		
		@include breakpoint (medium up) {
			font-size: rem-calc(20);
			line-height: rem-calc(20);
		}

		a {
			color: #000;
		}
	}

	span {
		color: #aaaaaa;
		font-size: rem-calc(12);
		line-height: 3;
	}

	.button {
		font-weight: 700;
		display: inline-block;
		margin-top: rem-calc(40);
		background: $color-isl-ltblue;
		
		@include breakpoint (medium up) {
			font-size: rem-calc(20);
		}
	}

	.button:hover {
		background: scale-color($color-isl-ltblue, $lightness: -15%);
	}

	.archive-grid:nth-of-type(1) {

		.article {
			margin-bottom: rem-calc(25);
		}

		.article:nth-of-type(1) {
			width: 100%;

			.featured-image {
				@include aspect-ratio(11,3);
			}
		}

		.article:nth-of-type(2),
		.article:nth-of-type(3) {
			width: 50%;
		}
	}

	.article {
		width: 33.33333333333%;
	}
}

#blog-single {

.article-header {
	position: relative;
	top: -15px;
	text-align: center;
	padding: 10px;
	border-radius: $global-radius;
	color: #ffffff;
	background: $color-isl-ltblue;
}

	#inner-content {
		padding-top: 20px;
	}
}

.cat-menu {
	background: $color-isl-ltblue;
	color: #fff;
	padding: 1.25rem;

	span {
		font-size: rem-calc(24);
		font-weight: 800;
	}

	li {
		list-style: none;
		display: inline-block;
		font-size: rem-calc(18);

		a {
			color: #fff;
			padding: 10px 15px;
		}
	}
}

/*********************
Cart & Checkout
*********************/

.no-banner {
	background: $color-isl-ltblue;
	height: rem-calc(150);
	border-bottom: 16px solid $color-isl-dkblue;
}

.panel {
	.button {
	  width: 100%;
	  background: #ffffff;
	  color: #00aeef;
	  font-weight: 700;
	  margin-bottom: 0; 
	}
}

.reveal {
  top: 100px !important;
  position: fixed !important; 
}

.team-cart {

	.item {
		overflow: hidden;
		margin-bottom: rem-calc(20);
		padding: rem-calc(10);

		h5 {
			padding-left: rem-calc(10);
		}
	}

	.item:nth-child(even) {
		background: #f6f6f6;
	}

	.details {

	}

	.quantity {
		text-align: center;
		max-height: rem-calc(40);
	}

	.team-totals {
		text-align: right;
		margin-bottom: rem-calc(10);
	}

	.subtotal {
	border-top: 1px solid $light-gray;
	padding: rem-calc(8) rem-calc(3);
	overflow: hidden;
	margin: rem-calc(10) 0 0;
	clear: both;

		span {
			display: block;
			text-align: right;
		}
	}

	span.small {
		font-size: 0.85rem;
		text-align: left;
		display: inline;
	}
}

.rep-code {
	h6 {
		margin-top: rem-calc(10);
		float: left;
	}

	input {
		width: rem-calc(200);
		float: left;
		margin-left: 1rem;
	}
}

.totals {
	text-align: right;

	.button {
		margin: 0 0 1rem 0;
	}
}


/*********************
MyISL Page
*********************/

#myisl_canvas {
	#content {
		padding: 0 !important;
	}
}

#user {
	.banner {
		text-align: center;
		height: rem-calc(285);
		top: 40%;

		.entry-header {
			top: 40%;
		}

		h1 {
			display: inline-block;
			vertical-align: top;
			margin-top: 2rem;
		}
	}

	.team-banner {
		position: relative;
		background: #00a79d;
		color: #ffffff;
		width: 100%;
		height: rem-calc(80);
		text-align: center;
		padding: rem-calc(15) 0;
		z-index: 999;
	}

	.avatar {
		width: rem-calc(125);
		height: rem-calc(125);
		border-radius: 50%;
		border: 3px solid #ffffff;
		display: inline-block;
		margin-left: rem-calc(10);
	}

	#canvas {
		padding-left: rem-calc(20);
	}

	table.order {
		tbody th, tbody td {
			padding: rem-calc(15);
		}
	}
}

#coordinator {
	overflow: hidden;

	img {
		@include aspect-ratio (1, 1);
		border-radius: 50%;
		border: 4px solid $color-isl-dkblue;
		width: rem-calc(100);
		float: left;
		margin-right: rem-calc(10);
	}
}

#messages {
	ul {
		list-style: none;
		margin: 0;

		li {
			padding: rem-calc(10) rem-calc(15);

			&.unread {
				font-weight: bold;
				
				span {
					float: right;
				}
			}

			&.read {
				font-weight: normal;
				
				span {
					float: right;
				}
			}
		}

		li:nth-child(odd) {
			background: $light-gray;
		}
	}
}

#left-navigation {
  border-right: 1px solid #ccc;
  padding-right: rem-calc(40);

  a {
    display: block;
    text-align: left;
    padding: rem-calc(10) rem-calc(5);
    font-weight: $font-weight-bold;
    border-bottom: 1px solid #ccc;
    color: $color-isl-dkblue;
    position: relative;

    span.completed {
    	color: $success-color;
    }

    span.incomplete {
    	color: $warning-color;
    }

    span.notification {
	    background: red;
	    color: #ffffff;
	    border-radius: 50%;
	    font-size: 0.375rem;
	    display: block;
	    height: 12px;
	    width: 12px;
	    text-align: center;
	    position: absolute;
	    right: 1px;
	    top: 8px;
    }

    i {
    	float: right;
    	font-size: rem-calc(20);
    }

  }
}

#wppb-login-wrap {
	margin: 0 auto;
	display: block;
	text-align: left;
	padding: rem-calc(10);
	border: 1px solid #cccccc;
	border-radius: 3px;
  
	@include breakpoint(medium up) {
		width: 50%;
	}


	label {
		float: none !important;
	}

	input[type="button"], input[type="reset"], input[type="submit"] {
		margin: 7px 0 0;
		background: $color-isl-orange;
		border-radius: 3px;
		font-weight: bold;
		font-size: rem-calc(18);
		color: $white;
		font-family: $body-font-family !important;
		border: 0;
		padding: 0.85em 1.3em;
	}
}

.wppb-form-field input, .wppb-form-field input[type="text"], .wppb-form-field input[type="email"], .wppb-form-field input[type="url"], .wppb-form-field input[type="password"], .wppb-form-field input[type="search"], .wppb-form-field select, .wppb-form-field textarea, .wppb-checkboxes, .wppb-radios, #wppb-login-wrap .login-username input, #wppb-login-wrap .login-password input {
	width: 100% !important;
}

.login {
	text-align: center;
}

tr.border_bottom td {
  border-bottom: 1px solid #ccc;
}

/*********************
Fundraiser Styles
*********************/
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #00a79d;
  display: block;
  margin: 0 auto; 
}

/*********************
Modal Styles
*********************/
.modal--fade .modal-content, .modal--show .modal-content {
  padding: 1.5625rem; 
}

.modal--fade .modal-inner, .modal--show .modal-inner {
  top: 25%; 
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
  top: 25%; 
}

.modal--fade footer, .modal--show footer {
  padding: 0.625rem 1.25rem;
  background: #00a79d;
  color: #fff; 
}

.modal--fade footer a, .modal--show footer a {
    font-weight: 700; 
}

/*********************
404 Styles
*********************/
.page-404 {
  background: #00aedf;
  padding: 110px 0 0;
  color: #fff;
  font-weight: 300; 

  label {
  	color: #fff;
  	font-weight: 300;
  }
}
