/*********************
Team Page
*********************/

#team {

	.overlay {
		background-color: #000000;
	}

	.entry-header {
		position: relative;
		top: rem-calc(85);
		text-align: center;
		z-index: 100;

		@include breakpoint (medium up) {
			top: 40%;
		}

		h1 {
			@include breakpoint (medium up) {
				font-size: rem-calc(36)
			}

			@include breakpoint (large up) {
				font-size: rem-calc(48);	
			}
		}
	
		h2 {
			font-size: rem-calc(18);

			@include breakpoint (medium up) {
				font-size: rem-calc(24);
			}
			@include breakpoint (large up) {
				font-size: rem-calc(28);
			}
		}

		h3.sold-out {
			margin-top: rem-calc(15);
			color: $color-isl-orange;
			font-weigh: bold;
			font-size: rem-calc(22);
			text-transform: uppercase;
		}
	}

	#content {
		padding-top: rem-calc(40);
	}

	.about-this-team-content {
		p {margin-bottom: 0}
	}
	.details {
		padding: rem-calc(20) 0;
	}

	.section {
		padding: rem-calc(50) 0 0;

		.button {
			margin: 0;
		}
	}

	.itinerary-container {
		@include breakpoint (small only) {
			padding-top: rem-calc(40);	
			}

		.itinerary {
			color: #fff;

			.header, .footer {
				padding: rem-calc(14);
				border-radius: 4px;
				background-color: $color-isl-ltblue;
				border: 1px solid darken($color-isl-ltblue, 8%);
				font-weight: bold;

					.text {
						white-space: pre-line;
						margin-top: -1rem;
					}
				}

			.header {
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				}

			.footer {
				border-top: 0;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				}
			.day {
				padding: rem-calc(14);
				border: 1px solid darken($color-isl-ltblue, 8%);
				border-top: 0px;
				background-color: rgba(0,174,223,0.7);
				color: $color-isl-dkblue;

				&:nth-child(odd) {
					background-color: rgba(0,174,223,0.5);
				}

				h6 {
				    margin-bottom: 0;
				    line-height: 1.4;
				    margin-top: 0;
				    font-weight: bold;
				}
				.description {
					font-size: rem-calc(14);
					white-space: pre-line;
					}
			}
		}
	}

	.sharing-container {
		padding-top: rem-calc(40);
		text-align: center;

		h2 {
			color: $color-isl-dkblue;
			font-size: rem-calc(24);
		}

		h3 {
			a {
				color: $color-isl-ltblue;
			}
		}
	}
}