/*********************
Find a Team Page
*********************/

.team-code-search-container {
	position: absolute;
	z-index: 100;
	bottom: rem-calc(-8);
	left: 50%;
	margin-left: rem-calc(-175);
	width: rem-calc(350);

	input[type='search'] {
		width: 65%;
		height: rem-calc(45);
		float: left;
		background: #fff;
		font-size: rem-calc(16);
		font-weight: 700;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
		@include breakpoint (small only) {
			-webkit-appearance: none !important;
			height: rem-calc(35);
			font-size: .75rem;
		}		
	}

	input[type='submit'] {
		float: left;
		width: 35%;
		height: rem-calc(45);
		font-size: rem-calc(16);
		font-weight: 700;
		margin: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		@include breakpoint(small only) {
			height: rem-calc(35);
			font-size: .75rem;
		}
	}
}

.search-bar {
	clear: both;
	background: $color-isl-teal;
	color: #fff;
	position: relative;
	text-align: center;
	z-index: 99;

	//@include breakpoint (large up) {
		padding: rem-calc(40) rem-calc(20) rem-calc(25);
	//}

	.search-selector {
		text-align: left;
		width: rem-calc(242);
		display: inline-block;
		@include breakpoint (medium up) {
			margin-right: rem-calc(25);
		}

		&:last-child {margin-right: 0;}

		label {
			color: white;
			font-style: italic;
			}

		.select-wrap {
			background-color: #3DBCB4;
			border-radius: 4px;
			position: relative;

			select, 
			#date-range-picker-trigger {
				position: relative;
				z-index: 2;
				background: transparent;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				height: rem-calc(50);
				color: #fff;
				font-size: rem-calc(24);
				font-weight: bold;
				border: none;
				line-height: 1;
				margin-bottom: 0;
				cursor: pointer;

				@include breakpoint(small only) {
					height: rem-calc(40);
					font-size: rem-calc(18);
				}
			}

			select option {
				background-color: #fafafa;
				color: #000000;
			}

			&.selected {
				background-color: $color-isl-ltblue;
				
				select {
					font-size: 1rem;
				}
			}
		}

		.fa-chevron-down,
		.fa-chevron-up {
			position: absolute;
			z-index: 1;
			right: rem-calc(10);
			top: rem-calc(14);
			font-size: rem-calc(20);
			}
		
		&.date-range {
			vertical-align: top;
			position: relative;

			.select-wrap {
				display: table;
				width: 100%;
				padding-left: 8px;
				}

			#date-range-picker-trigger {
				margin: 10px 0;
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				}

			.fa-chevron-up { display: none; }

			.date-range-picker {
				display: none;
				position: absolute;
				z-index: 1000;
				left: -66px;
				background-color: $color-isl-ltblue;
				border-radius: 4px;
				padding: rem-calc(10) rem-calc(20) rem-calc(20) rem-calc(28);
				width: rem-calc(375);
				box-shadow: 0 4px 10px rgba(0,0,0,0.8);

				.beginning-group,
				.ending-group {
					float: left; 
					width: 50%;

					label {
						color: white;
						font-style: italic;
						font-weight: bold;
						}
					.select-wrap {
						margin-bottom: rem-calc(10);
						background-color: #3DC1F2;
						padding: 0;
						select {
							font-size: rem-calc(20);
							padding-left: rem-calc(12);
							}
						.fa-chevron-down {display: block;}
					}
				}
				.beginning-group {
					padding-right: rem-calc(10);
					}
				.ending-group {
					padding-left: rem-calc(10);
					}

				.search-within-dates {
					clear: both;
					display: block;
					margin: 0 auto;
					}
			}

			&.active {
				.date-range-picker { display: block; }
				.fa-chevron-down { display: none; }
				.fa-chevron-up { display: block; }

				> .select-wrap {
					background-color: $color-isl-ltblue;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					position: relative;
					z-index: 1200;
				}
			}
		}
	}


	.show-all-trips {
		display: block;
		margin-top: rem-calc(25);
		color: white;
		text-decoration: underline;
	}
}

#content.search-results {
	padding-top: rem-calc(32);
}

#search-main {
	h2 {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
		font-size: rem-calc(32);

		@include breakpoint(medium up) {
			width: 75%;
			float: left;
		}
	}

	.sort {
		width: 100%;
		margin: rem-calc(15) 0;


		@include breakpoint(medium up) {
			width: rem-calc(284);
			float: right;
			position: relative;
			margin: 0
		}

		select {
			width: 75%;
			margin-left: 6px;
			}

		.view-buttons {
			margin-top: rem-calc(10);
			text-align: right;

			@include breakpoint(small only) {
				margin-top: 0;
				width: rem-calc(75);
				float: right;
			}

			@include breakpoint(medium up) {
				margin-top: 0;
				display: inline-block;
				position: relative;
				top: 4px;
			}

			a {
				font-size: rem-calc(24);
				color: $medium-gray;
				margin-left: rem-calc(5);

				&.active {
					color: $color-isl-orange;
				}
			}
		}
	}

	.team-results {
		clear: both;

		#list {
			display: none;
			padding: rem-calc(30) 0;
			&.active {
				display: inherit;
			}

			.team {
				padding: rem-calc(20) rem-calc(10);
				@include breakpoint (medium up) {
					position: relative;
					margin: rem-calc(10) 0;
					padding: rem-calc(10) rem-calc(5);
				}


				h6 {
					//@include vertical-center;
					font-weight: 700;

				}

				.date {
					@include breakpoint (small only) {
						margin: rem-calc(5) 0;
					}
					font-size: rem-calc(14);
				}

				.description {
					@include breakpoint (small only) {
						margin: rem-calc(5) 0;
						font-size: 1rem;
						line-height: 1.2rem;
					}

					font-size: rem-calc(14);

						.count {
						@include breakpoint (small only) {
							margin: rem-calc(5) 0;
						}
						font-size: rem-calc(12);
						font-style: italic;
						
							span {
								font-weight: 700;
							}
						}
				}

				.price {
					margin: rem-calc(10) 0;
					@include breakpoint(medium up) {
						@include vertical-center;
					}
				}

				.button {
					margin: rem-calc(10) 0;
					@include breakpoint (medium up) {
						@include vertical-center;
						right: rem-calc(10);
						margin: 0;
					}
				}
			}

			
			.team:nth-of-type(2n+1) {
				background: $light-gray;
			}
		}

		#grid {
			display: none;
			
			&.active {
				display: inherit;
			}

			@include breakpoint (medium up) {
				padding: rem-calc(30) 0;
			}

			.column {
				@include breakpoint (small only) {
					padding: 0 rem-calc(30);
				}
			}
		
			.team {
				color: black;
				border-radius: rem-calc(3);				
				margin-bottom: rem-calc(32);
				overflow: hidden;
				position: relative;
				height: 100%;
				width: 100%;
    			border-collapse:collapse;
    			display: table;

				@include breakpoint (medium down) {
					padding: rem-calc(20);
				}

				.team-banner {
					width: 100%;
					@include aspect-ratio(309,200);
					margin-bottom: rem-calc(10);
					border-top-left-radius: $global-radius;
					border-top-right-radius: $global-radius;
				}
				h5 {
					font-size: rem-calc(20);
					line-height: rem-calc(24);
					font-weight: 700;
					padding: 0 rem-calc(20);
					text-align: center;
					height: rem-calc(45);
				}

				.details {
					padding: rem-calc(10) rem-calc(20);
					position: relative;
					overflow: hidden;

					h5 {
						font-size: rem-calc(20);
						font-weight: 700;
						padding: 0 rem-calc(20);

						&.cost {
							padding: 0;
							font-size: rem-calc(18);
						}
					}

					span {
						font-size: rem-calc(14);
						margin-top: rem-calc(10);
					}

					.description,
					.intern-description {
						@include breakpoint (small only) {
							font-size: 1rem;
							line-height: 1.2rem;
						}
						margin-bottom: rem-calc(8);
						font-size: rem-calc(12);
						line-height: rem-calc(14);
						font-weight: 400;
						clear: both;
					}

					.intern-description {
						min-height: rem-calc(100);
					}

					.dates {
						width: 100%;
						float: left;
						margin-bottom: rem-calc(20);

						@include breakpoint (1150 down) {
							margin: 0 auto rem-calc(20);
							display: block;
							float: none;
							overflow: hidden;
						}

						@include breakpoint (medium only) {
							width: 100%;
						}

						.date {
							border-radius: rem-calc(3);
							padding: rem-calc(10) rem-calc(5);
							text-align: center;
							position: relative;
							width: 40%;
							float: left;
							line-height: 1;
							margin: 0;

							@include breakpoint (xlarge up) {
								width: 42%;
							}

							span.month {
								font-size: rem-calc(16);
								font-weight: 400;
							}

							span.day {
								font-size: rem-calc(30);
								font-weight: bold;
							}

							span.year {
								font-size: rem-calc(12);
							}
						}

						.intern-length {
							border-radius: rem-calc(3);
							padding: rem-calc(10) rem-calc(5);
							text-align: center;
							position: relative;
							width: 40%;
							display: block;
							line-height: 1;
							margin: 0 auto;
							float: none;

							@include breakpoint (1150 down) {
								width: 40%;
							}

							span.month {
								font-size: rem-calc(16);
								font-weight: 400;
							}

							span.day {
								font-size: rem-calc(30);
								font-weight: bold;
							}

							span.year {
								font-size: rem-calc(12);
							}
						}

						div {
							width: 11%;
							float: left;
							margin: rem-calc(25) rem-calc(5) 0;
							//color: #000;
							text-align: center;
						}
					}

					.count {
						font-size: rem-calc(12);
						font-style: italic;
						margin: rem-calc(5) 0;
						clear: both;
						@include breakpoint (medium up) {
							min-height: rem-calc(125);
						}
						span {
							font-weight: 700;
						}
					}

					.share {
						font-size: rem-calc(14);
						clear: both;

						i {
							margin: 0 rem-calc(5);
						}
					}
				}

				.bottom {
					
					@include breakpoint (medium up) {
						@include horizontal-center;
						position: absolute;
						bottom: 10px;
					}

					h5 {
						//text-align: left;
						padding: 0;
						margin-bottom: 0;
					}

					.sold-out {
						font-weight: normal;
						color: $light-gray;
						font-style: italic;
						font-size: 1rem;
						padding: 0;
						text-align: center;
					}

					.button {
						font-size: rem-calc(14);
						font-weight: 700;
						background: $color-isl-orange;
						color: #fff;
						padding: .5rem;
						border-radius: rem-calc(3);
						margin-bottom: rem-calc(10);
						margin-right: 0;
						width: rem-calc(200);

						@include breakpoint (small only) {
							margin: 20px auto;
							display: block;
						}
					}

					.button:hover {
						background: $color-isl-orange;
						color: #fff;
					}
				}
			}
		}

		.column {
			.team {
				background: $color-isl-ltblue;
				color: #ffffff !important;

				h5 {
					//text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
				}

				.description {
					color: #fff !important;
				}

				.dates {
					.intern-length,
					.date {
						color: #000;
						background: rgba(255, 255, 255, 0.78);
						text-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
					}
				}
			}
		}
	}
}