/*

Admin Color Scheme for ISL

*/

body {
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", sans-serif;
}

/* top bar color */
#wpadminbar {
    background: #2b5990;
}

/* main background color */
#wpcontent {
    background: #fcfcfc;
}

/* admin menu default color */
#adminmenu {
    background: #00a79d;
}

#adminmenuback {
    background: transparent;
}

/* admin menu top/bottom color */
#adminmenuwrap {
    background: #2b5990;
}


#adminmenu li#toplevel_page_index,
#adminmenu li#toplevel_page_cc-teams,
#adminmenu li#toplevel_page_cc-volunteers {
    background: #2b5990;
}

#adminmenu li#toplevel_page_team-messages,
#adminmenu li#toplevel_page_docs,
#adminmenu li#toplevel_page_cc-itinerary,
#adminmenu li#toplevel_page_cc-country,
#adminmenu li#toplevel_page_cc-program,
#adminmenu li#toplevel_page_edit-post_type-cp_email,
#adminmenu li#menu-posts-testimonial,
#adminmenu li#menu-pages,
#adminmenu li#menu-posts,
#adminmenu li#toplevel_page_gf_edit_forms,
#adminmenu li#toplevel_page_team-manage,
#adminmenu li#menu-posts-team_add_ons,
#adminmenu li#menu-posts-isl_coupon {
    background: #00aedf !important;
}


#adminmenu li#toplevel_page_cc-accounting,
#adminmenu li#toplevel_page_cc-reports,
#adminmenu li#toplevel_page_cc-coupon,
#adminmenu li#toplevel_page_cc-ambassador {
    background: #008299 !important;
}

/* Active menu color */

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {
    background: #f15a2b;
}

/* admin menu hover color */

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    background: #f15a2b;
}

/* current submenu background color */

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
    background: #f17048;
}

/* submenu hover arrow background color */

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: #f17048;
}

/* submenu link color */
#adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a, #adminmenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a {
    color: #ffffff;
}

/* submenu hover color */
#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: #f15a2b;
    color: #ffffff;
}

#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label {
    color: #ffffff;
}

/* admin bar dropdown */
ul#wp-admin-bar-site-name-default.ab-submenu,
ul#wp-admin-bar-new-content-default.ab-submenu,
ul#wp-admin-bar-user-actions.ab-submenu {
    background: #2b5990;
}

/* admin bar link color */
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #ffffff;
}

/* admin bar link hover color */
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #f17048;
}

/* submenu hover color */
#adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover {
    color: #2b5990;
}
#adminmenu ul.wp-submenu.wp-submenu-wrap li a .awaiting-mod,
#adminmenu ul.wp-submenu.wp-submenu-wrap li a .update-plugins {
    background: #00aedf;
}

#adminmenu .awaiting-mod, #adminmenu .update-plugins {
    background: #f15a2b;
}

/* Dashboard widget headers */
.metabox-holder .postbox>h3, .metabox-holder .stuffbox>h3, .metabox-holder h2.hndle, .metabox-holder h3.hndle {
    background: #00aedf;
    color: #fff;
}

/* Dashboard accordian arrows */
.accordion-section-title:after, .handlediv, .item-edit, .sidebar-name-arrow {
    color: #ffffff;
}

//////////////////////////////////
/* Dashboard Icons          */
//////////////////////////////////

/* Site Title Icon */
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\f0ac";
    font-family: 'FontAwesome' !important;
}

/* Main Dashboard */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Messages */
#adminmenu li#toplevel_page_team-messages .wp-menu-image:before {
    content: "\f1d8";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Teams */
#adminmenu li#toplevel_page_cc-teams .wp-menu-image:before {
    content: "\f0fa";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Volunteers */
#adminmenu li#toplevel_page_cc-volunteers .wp-menu-image:before {
    content: "\f0c0";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Documents */
#adminmenu li#toplevel_page_docs .wp-menu-image:before {
    content: "\f02d";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Itineraries */
#adminmenu li#toplevel_page_cc-itinerary .wp-menu-image:before {
    content: "\f03a";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Countries */
#adminmenu li#toplevel_page_cc-country .wp-menu-image:before {
    content: "\f041";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Programs */
#adminmenu li#toplevel_page_cc-program .wp-menu-image:before {
    content: "\f0fe";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Emails */
#adminmenu li#toplevel_page_edit-post_type-cp_email .wp-menu-image:before {
    content: "\f0e0";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Testimonials */
#adminmenu li#menu-posts-testimonial .wp-menu-image:before {
    content: "\f075";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Pages */
#adminmenu li#menu-pages .wp-menu-image:before {
    content: "\f15b";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Posts */
#adminmenu li#menu-posts .wp-menu-image:before {
    content: "\f08d";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Forms */
#adminmenu li#toplevel_page_gf_edit_forms a .wp-menu-image.svg[style] {
    background-image: none !important;
    padding-top: 5px;
    height: 20px;
}
#adminmenu li#toplevel_page_gf_edit_forms .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Staff */
#adminmenu li#toplevel_page_team-manage .wp-menu-image:before {
    content: "\f004";
    font-family: 'FontAwesome' !important;
    font-size: 16px !important;
}

/* Accounting */
#adminmenu li#toplevel_page_cc-accounting .wp-menu-image:before {
    content: "\f155";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Reports */
#adminmenu li#toplevel_page_cc-reports .wp-menu-image:before {
    content: "\f201";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Plugins */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Appearance */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Settings */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Media */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Custom Fields */
#adminmenu li#toplevel_page_edit-post_type-acf-field-group .wp-menu-image:before {
    content: "\f004";
    font-family: 'FontAwesome' !important;
    font-size: 16px !important;
}

/* Comments */
#adminmenu li#menu-comments .wp-menu-image:before {
    content: "\f086";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Profile Builder */
#adminmenu li#toplevel_page_profile-builder .wp-menu-image:before {
    content: "\f234";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}
#adminmenu li#toplevel_page_profile-builder .wp-menu-image img {
    display: none;
}

/* Tools */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* Users */
#adminmenu li#toplevel_page_index .wp-menu-image:before {
    content: "\f0e4";
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}

/* MyISL Link */
#adminmenu li#toplevel_page_cc-myisl .wp-menu-image:before {
    content: "\f0ac" !important;
    font-family: 'FontAwesome' !important;
    font-size: 18px !important;
}



/* Icon Colors */
#adminmenu div.wp-menu-image:before {
    color: #fff !important;
}