/*
Errno::ENOENT: No such file or directory @ rb_sysopen - scss/style.scss

Backtrace:
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `read'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/gkaiser/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/gkaiser/.rvm/gems/ruby-2.4.0/bin/sass:22:in `load'
/home/gkaiser/.rvm/gems/ruby-2.4.0/bin/sass:22:in `<main>'
/home/gkaiser/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `eval'
/home/gkaiser/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - scss/style.scss"; }
