
/*
	Copyright (C) 2011-2018 Hoefler & Co.
	This software is the property of Hoefler & Co. (H&Co).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&Co. If no such agreement exists, you may not
	access or use this software for any purpose.
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein. You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&Co.
	For more information, please visit us at http://typography.com.
	216956-100107-20180122
*/

@font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/E872F35E66FC7F71D.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/E872F35E66FC7F71D.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham Narrow SSm 2r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/E872F35E66FC7F71D.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/E872F35E66FC7F71D.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:200; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/168BF42E6303EBA0C.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/168BF42E6303EBA0C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham Narrow SSm 2i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/168BF42E6303EBA0C.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/168BF42E6303EBA0C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:200; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/707057376565E7A06.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/707057376565E7A06.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow SSm 3r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/707057376565E7A06.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/707057376565E7A06.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/FF4D045DA8E721BE6.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/FF4D045DA8E721BE6.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow SSm 3i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/FF4D045DA8E721BE6.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/FF4D045DA8E721BE6.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:300; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C0CA39855FD045730.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C0CA39855FD045730.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow SSm 4r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C0CA39855FD045730.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C0CA39855FD045730.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/6077E2FB823768FCB.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/6077E2FB823768FCB.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow SSm 4i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/6077E2FB823768FCB.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/6077E2FB823768FCB.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/9DF076FE289ED1CFC.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/9DF076FE289ED1CFC.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow SSm 5r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/9DF076FE289ED1CFC.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/9DF076FE289ED1CFC.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/ACA93A5B2BA00CE3A.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/ACA93A5B2BA00CE3A.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow SSm 5i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/ACA93A5B2BA00CE3A.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/ACA93A5B2BA00CE3A.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/672DFEA203B8CEC69.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/672DFEA203B8CEC69.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow SSm 7r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/672DFEA203B8CEC69.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/672DFEA203B8CEC69.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/2CEEDD941CD99FAB9.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/2CEEDD941CD99FAB9.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow SSm 7i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/2CEEDD941CD99FAB9.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/2CEEDD941CD99FAB9.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C98403B5D5B5FDAEC.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C98403B5D5B5FDAEC.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham Narrow SSm 8r"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C98403B5D5B5FDAEC.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/C98403B5D5B5FDAEC.eot?#hco') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Gotham Narrow SSm A"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/B7B9153FCCBAAAA3C.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/B7B9153FCCBAAAA3C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Gotham Narrow SSm 8i"; src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/B7B9153FCCBAAAA3C.eot'); src: url('https://www.islonline.org/wp-content/themes/ISL/assets/fonts/634273/B7B9153FCCBAAAA3C.eot?#hco') format('embedded-opentype'); font-style:italic; font-weight:800; } 