<?php
/*
Template Name: Internship Parent
*/
?>

<?php get_header(); ?>

<?php get_template_part( 'banner' ); ?>

    <div id="content">
    
        <div class="row collapse">
    
            <!-- <main id="main" class="large-8 <?= ($coming ? 'medium-8' : 'large-push-2'); ?> columns" role="main"> -->
            <main id="main" class="large-8 medium-8 columns" role="main">
                <?php the_flex_content(); ?>
            </main> <!-- end #main -->

			
			<div class="large-4 medium-4 columns">
				
				
			</div> <!-- End sidebar -->
			
        
        </div> <!-- end #inner-content -->
    <?php edit_post_link('edit'); ?>
    </div> <!-- end #content --> 

<?php get_footer(); ?>


