/******************************************************************
Theme Name: ISL
Theme URI: http://hkw.io
Description: A Custom Theme for ISL (based on JointsWP)
Author: HKW
Author URI: http://hkw.io
Version: 4.0
License: GNU General Public License & MIT
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Sass
******************************************************************/

.day h6 {
    visibility: hidden;
}

.section {
    background: transparent !important;
    float: left;
}

#team .itinerary-container .itinerary .header .text, #team .itinerary-container .itinerary .footer .text {
    white-space: normal;
    margin-top: 0;
}

.itinerary-container .itinerary .header, .itinerary-container .itinerary .footer {
    padding: 0 0.875rem;
    border-radius: 4px;
    background-color: #00aedf;
    border: 1px solid #008eb6;
    font-weight: bold;
}