@media (min-width: 40em) {
	.start-your-journey.hidden-4 {
		display: block;
	}
}

.start-your-journey.hidden-4 {
	display: none;
}

.start-your-journey {
	margin-bottom: 20px;
}

.button {
	font-size: 1rem;
	font-weight: 500;
}
